<?php
$deviceSessionId = md5(session_id() . microtime())
?>
<script type="text/javascript"
        src="https://maf.pagosonline.net/ws/fp/tags.js?id=<?= $deviceSessionId ?>80200"></script>
<noscript>
    <iframe style="width: 100px; height: 100px; border: 0; position: absolute; top: -5000px;"
            src="https://maf.pagosonline.net/ws/fp/tags.js?id=<?= $deviceSessionId ?>380200"></iframe>
</noscript>