.newsletter {
    padding: 1rem;
}

.newsletter .text {
    margin-top: 2.5rem;
    float: right;
    color: #000;
}

.newsletter .btn-dark {
    background: #000;
    border-color: #000;
    margin-top: 1.5rem;
}

.newsletter .btn-dark:hover {
    background: #111111;
    border-color: #111111;
}

.newsletter input {
    border-color: #000 !important;
}

.newsletter .content {
    border-color: #FFF !important;
}

.block.newsletter {
    background: #f4f4f4;
    width: 100%;
    left: 0rem;
    position: absolute;
}
.general.newsletter{
    width:100%;
    height: 12rem;
}

.terms {
    margin-top: 1rem;
}

.terms label {
    float: right;
    color: #000

}

.terms input {
    margin-top: -1.5rem;
}

.terms-link {
    color: #000 !important;
    text-decoration: underline !important;
}