<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
    <div class="field type">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div class="control">
                    <ul class="credit-card-types">
                        <!-- ko foreach: {data: getCcAvailableTypesValues(), as: 'item'} -->
                        <li class="item" data-bind="css: {
                                                 _active: $parent.selectedCardType() == item.value,
                                                 _inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item.value
                                                 } ">
                            <!--ko if: $parent.getIcons(item.value) -->
                            <img data-bind="attr: {
                        'src': $parent.getIcons(item.value).url,
                        'alt': item.type,
                        'width': $parent.getIcons(item.value).width,
                        'height': $parent.getIcons(item.value).height
                        }">
                            <!--/ko-->
                        </li>
                        <!--/ko-->
                    </ul>
                    <input type="hidden"
                           name="payment[cc_type]"
                           class="input-text"
                           value=""
                           data-bind="attr: {id: getCode() + '_cc_type', 'data-container': getCode() + '-cc-type'},
                   value: creditCardType
                   ">
                </div>
            </div>
            <div class="col-md-10 col-lg-10">
                <p style="float: left">
                    Compra segura por
                </p>
                <img data-bind="attr: { src: require.toUrl('Magento_Payment/images/logo-payu.jpg') }" alt="Shirt">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="field number required">
                <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
                    <span>Nombre del titular</span>
                </label>
                <div class="control">
                    <input type="text" name="payment[cc_titular_name]" class="input-text" value=""
                           data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cc_titular_name',
                                    title: $t('Nombre del titular'),
                                    'data-container': getCode() + '-cc-titular-name',
                                    enable: isActive($parents)"/>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12">
            <div class="field number required">
                <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
                    <span>Número de tarjeta</span>
                </label>
                <div class="control">
                    <input type="number" name="payment[cc_number]" class="input-text" value=""
                           data-bind="attr: {
                                    autocomplete: off,
                                    id: getCode() + '_cc_number',
                                    title: $t('Credit Card Number'),
                                    'data-container': getCode() + '-cc-number',
                                    'data-validate': JSON.stringify({'required-number':true, 'validate-card-type':getCcAvailableTypesValues(), 'validate-card-number':'#' + getCode() + '_cc_type', 'validate-cc-type':'#' + getCode() + '_cc_type'})},
                              enable: isActive($parents),
                              value: creditCardNumber,
                              valueUpdate: 'keyup' "/>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
                <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                    <span>Mes de expiración</span>
                </label>
                <div class="control">
                    <div class="fields group group-2">
                        <div class="field no-label month">
                            <div class="control">
                                <select name="payment[cc_exp_month]"
                                        class="select select-month"
                                        data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})},
                                            enable: isActive($parents),
                                            options: getCcMonthsValues(),
                                            optionsValue: 'value',
                                            optionsText: 'month',
                                            optionsCaption: $t('Selecciona'),
                                            value: creditCardExpMonth">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
                <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
                    <span>Año de expiración</span>
                </label>
                <div class="control">
                    <div class="fields group group-2">
                        <div class="field no-label year">
                            <div class="control">
                                <select name="payment[cc_exp_year]"
                                        class="select select-year"
                                        data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: getCcYearsValues(),
                                           optionsValue: 'value',
                                           optionsText: 'year',
                                           optionsCaption: $t('Selecciona'),
                                           value: creditCardExpYear">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <!-- ko if: (hasVerification())-->
            <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}">
                <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
                    <span>Código de seguridad</span>
                </label>
                <div class="control _with-tooltip">
                    <input type="number"
                           autocomplete="off"
                           class="input-text cvv"
                           name="payment[cc_cid]"
                           placeholder="Ingrese los 3 dígitos"
                           value=""
                           data-bind="attr: {id: getCode() + '_cc_cid',
                        title: $t('Card Verification Number'),
                        'data-container': getCode() + '-cc-cvv',
                        'data-validate': JSON.stringify({'required-number':true, 'validate-card-cvv':'#' + getCode() + '_cc_type'})},
                        enable: isActive($parents),
                        value: creditCardVerificationNumber"/>
                    <div class="field-tooltip toggle">
                <span class="field-tooltip-action action-cvv"
                      tabindex="0"
                      data-toggle="dropdown"
                      data-bind="attr: {title: $t('¿Que es esto?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                    <span><!-- ko i18n: '¿Que es esto?'--><!-- /ko --></span>
                </span>
                        <div class="field-tooltip-content"
                             data-target="dropdown"
                             data-bind="html: getCvvImageHtml()"></div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="field date required">
                <label data-bind="attr: {for: getCode() + '_installments'}" class="label">
                    <span>Número de cuotas</span>
                </label>
                <div class="control">
                    <div class="fields group group-2">
                        <select name="payment[cc_installments]" id="" class="form-control" required="">
                            <option value="">Selecciona</option>
                            <option value="1">1</option>
                            <option value="3">3</option>
                            <option value="6">6</option>
                            <option value="12">12</option>
                            <option value="24">24</option>
                            <option value="26">36</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>