<?php /** @var \Croydon\Deposit\Block\Index $block */ ?>
<div class="row">
    <div class="col-md-14 col-lg-24 col-24">
        <h2 class="title-payu">¡TU PEDIDO HA SIDO FACTURADO!</h2>
        <br/>
        <div class="row">
            <div class="col-md-11"><h3 class="title-2-payu">SOLO FALTA QUE REALICES TU PAGO</h3></div>
            <div class="col-md-13"><img
                        src="<?php echo $block->getUrl("pub/media/wysiwyg/") ?>PENDIENTE.png" class="img-baloto"/>
            </div>
        </div>
        <p class="text-payu">A través de <strong>CONSIGNACIÓN BANCARIA</strong> siguiendo estos pasos</p>
        <div class="row">
            <div class="col-sm-10">
                <ol class="list-gracias" type="1">
                    <li class="text-payu">Nombre del convenio: <strong>CROYDON COLOMBIA S.A - Nit:
                            800.120.681-2</strong>
                    </li>
                    <li class="text-payu">Número de cuenta: Cuenta corriente: <strong>059-00856-5</strong></li>
                    <li class="text-payu">Diligencia tu número de documento de
                        identidad <strong><?= $block->escapeHtml($block->getDocument()) ?></strong>
                    </li>
                    <li class="text-payu">El totál a pagar es: 
                        <strong><?= $block->escapeHtml($block->getTotal()) ?></strong></li>
                </ol>
            </div>
            <div class="col-sm-6"><img src="<?php echo $block->getUrl("pub/media/wysiwyg/") ?>banco-de-bogota.png"
                                       width="130"
                                       height="100"/>
            </div>
        </div>
        <p class="text-payu"><strong>Recuerda :</strong></p>
        <p class="text-payu">-Ten en cuenta que una vez trasncurridas las 72 horas hábiles de haber creado tu
            <br/>
            pedido, este será cancelado automaticamente si no has realizado el pago.</p>
        <div class="linea-gracias"></div>
    </div>
</div>
