<?php

/**
* Magedelight
* Copyright (C) 2017 Magedelight <info@magedelight.com>
*
* @category Magedelight
* @package Magedelight_Storelocator
* @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
$field = $this->getField();

$html = "";
if ($field['data'] != "") {
    $addressvalue = explode('\n', $field['data']);

    $html .= '<div id="address-input-cont">';
    $html .= '<input id="storelocator_address_one" name="storelocator[address][]" data-ui-id="adminhtml-storelocator-edit-tab-storetime-0-fieldset-element-text-storelocator-address" value="' . $addressvalue[0] . '" title="Address" type="text" class=" input-text admin__control-text required-entry _required"/>';
    if (count($addressvalue) > 1) {
        $html .= '<input id="storelocator_address_two" name="storelocator[address][]" data-ui-id="adminhtml-storelocator-edit-tab-storetime-0-fieldset-element-text-storelocator-address" value="' . $addressvalue[1] . '" title="Address" type="text" class=" input-text admin__control-text validate-street"/>';
    } else {
        $html .= '<input id="storelocator_address_two" name="storelocator[address][]" data-ui-id="adminhtml-storelocator-edit-tab-storetime-0-fieldset-element-text-storelocator-address" title="Address" type="text" class=" input-text admin__control-text validate-street"/>';
    }
    $html .= '</div>';
} else {
    $html .= '<input id="storelocator_address_one" name="storelocator[address][]" data-ui-id="adminhtml-storelocator-edit-tab-storetime-0-fieldset-element-text-storelocator-address" title="Address" type="text" class=" input-text admin__control-text required-entry _required"/>';
    $html .= '<input id="storelocator_address_two" name="storelocator[address][]" data-ui-id="adminhtml-storelocator-edit-tab-storetime-0-fieldset-element-text-storelocator-address" title="Address" type="text" class=" input-text admin__control-text validate-street"/>';
}
echo $html;
?>
