<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Widget\Dob $block */

/*
<?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob')
   ->setDate($block->getCustomer()->getDob())
   ->toHtml() ?>

For checkout/onepage/billing.phtml:

<?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob')
   ->setDate($block->getCustomer()->getDob())
   ->setFieldIdFormat('billing:%s')
   ->setFieldNameFormat('billing[%s]')
   ->toHtml() ?>

NOTE: Regarding styles - if we leave it this way, we'll move it to boxes.css. Alternatively we could calculate widths
automatically using block input parameters.
*/

$fieldCssClass = 'field date field-' . $block->getHtmlId();
$fieldCssClass .= $block->isRequired() ? ' required' : '';
?>
<br/>
<div class="<?= $block->escapeHtmlAttr($fieldCssClass) ?>">
    <div class="row">
        <div class="col-md-8">
            <label class="label"
                   for="<?= $block->escapeHtmlAttr($block->getHtmlId()) ?>"><span><?= $block->escapeHtml($block->getLabel()) ?></span><span class="asterisk-create"><?= $block->escapeHtml(__('*')) ?></span></label>
        </div>
        <div class="col-md-16">
            <div class="control customer-dob">
                <?= $block->getFieldHtml() ?>
                <?php if ($_message = $block->getAdditionalDescription()) : ?>
                    <div class="note"><?= $block->escapeHtml($_message) ?></div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>