<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Widget\Gender $block */
?>
<br/>
<div class="field gender<?php if ($block->isRequired()) echo ' required' ?>">
    <div class="row">
        <div class="col-md-8">
            <label class="label"
                   for="<?= $block->escapeHtmlAttr($block->getFieldId('gender')) ?>"><span><?= $block->escapeHtml(__('Gender')) ?></span><span class="asterisk-create"><?= $block->escapeHtml(__('*')) ?></span></label>
        </div>

        <div class="col-md-16">
            <div class="control">
                <select id="<?= $block->escapeHtmlAttr($block->getFieldId('gender')) ?>"
                        name="<?= $block->escapeHtmlAttr($block->getFieldName('gender')) ?>"
                        title="<?= $block->escapeHtmlAttr(__('Gender')) ?>"<?php if ($block->isRequired()): ?> class="validate-select" data-validate="{required:true}"<?php endif; ?>>
                    <?php $options = $block->getGenderOptions(); ?>
                    <?php $value = $block->getGender(); ?>
                    <?php foreach ($options as $option):
                        if($option->getValue()==3){}else{
                        ?>
                        <option value="<?= $block->escapeHtmlAttr($option->getValue()) ?>"<?php if ($option->getValue() == $value) echo ' selected="selected"' ?>><?= $block->escapeHtml(__($option->getLabel())) ?></option>
                    <?php
                        }
                        endforeach; ?>
                </select>
            </div>
        </div>
    </div>
</div>
