.croydon-sizes {
    padding-bottom: 2rem;
}

.croydon-sizes a {
    color: #25388e;
    text-decoration: underline;
}

.croydon-sizes a:hover {
    color: #000000;
}

.custom-input {
    width: 10rem !important;
    float: right;
}

.custom-calculator .button {
    background: #000;
    border-color: #000;
    float: left;
    color: #FFF;
}

.custom-calculator .button:hover {
    background: #04349c;
    border-color: #04349c;
    color: #fff;
}

.croydon-popup-sizes h4 {
    font-size: 19px !important;
}

.modal-popup.modal-slide .modal-footer {
    display: none !important;
}

.title-sizes {
    font-size: 3rem;
    color: #000;
    font-weight: bold;
}

.title-information {
    font-size: 2rem;
    font-weight: bold;
}

.subtitle {

}

.subtitle-information {
    font-weight: bold;
}

.text-result {
    color: #000;
    font-weight: bold;
    font-size: 1.7rem;
}

.content-result {
    margin-top: 2rem;
}

.text-result strong {
    padding: 1rem 3rem;
    margin-left: 1rem;
    background: #000 !important;
    color: #FFF;
    font-size: 2rem;
}

.social-buttons a:hover {
    color: #04349c;
}