.checkout-index-index .nav-sections, .checkout-index-index .nav-toggle {
    display: block;
}

.custom-form {
    width: 100%;
    overflow: hidden;
}

#custom-checkout-form .field {
    float: left;
}

#custom-checkout-form .field:first-child {
    margin-right: 1rem;
    width: 65% !important;
}

#custom-checkout-form .field:last-child {
    width: 28% !important;
}

.fieldset-end-form .field:first-child {
    margin-right: 1rem;
    width: 49% !important;
}

.fieldset-end-form .field:last-child {
    margin-right: 1rem;
    width: 49% !important;
}

.payment-method {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 1rem;
}

.payment-method-content {
    background: #FFF;
    margin-top: 2rem;
}

.payment-method-title {
    margin-left: 1rem;
    background: #f1f1f1;
}

.payment-method-title .radio {
    margin-left: 1rem;
}

.opc-progress-bar-item._active:before {
    background: #04349c !important;
}

.opc-progress-bar-item._active > span:before {
    background: #04349c !important;
}

.opc-progress-bar-item._active > span:after {
    background: #c5dcfe !important;
}

.opc-wrapper .step-title {
    border-bottom: 0 !important;
}