<?php
	/**
		* Copyright © 2015 Magento. All rights reserved.
		* See COPYING.txt for license details.
	*/
	
	// @codingStandardsIgnoreFile
?>
<?php
	/** @var $block \Magento\Framework\View\Element\Template */
	/** @var $helper \Magento\Search\Helper\Data */
	$helper = $this->helper('Magento\Search\Helper\Data');
?>
<?php $settingHelper = $this->helper('Emthemes\ThemeSettings\Helper\Data'); ?>
<div class="em-search mobile-search-wrapper">
        <a class="em-search-icon mobile-search-icon" title="<?php  echo __('Search'); ?>" href="javascript:void(0);"><span><?php  echo __('Search'); ?></span></a>		
		<div class="em-container-js-mobile-search" style="display: none;">
			<form class="form minisearch" id="mobile_search_mini_form" action="<?php  echo $helper->getResultUrl() ?>" method="get">
				<div class="field search">
					<label class="label" for="search" data-role="minisearch-label">
						<span><?php  echo __('Search'); ?></span>
					</label>
					<div class="control">
						<input id="mobile_search"
						data-mage-init='{"quickSearch":{
						"formSelector":"#mobile_search_mini_form",
						"url":"<?php  echo $block->getUrl('search/ajax/suggest'); ?>",
						"destinationSelector":"#mobile_search_autocomplete"}
						}'
						type="text"
						name="<?php  echo $helper->getQueryParamName() ?>"
						value="<?php  echo $helper->getEscapedQueryText() ?>"
						placeholder="<?php  echo __('Busca por producto - categoria'); ?>"
						class="input-text"
						maxlength="<?php  echo $helper->getMaxQueryLength();?>"
						role="combobox"
						aria-haspopup="false"
						aria-autocomplete="both"
						autocomplete="off"/>
						<div id="mobile_search_autocomplete" class="search-autocomplete"></div>
						<?php echo $block->getChildHtml() ?>
					</div>
				</div>
				<div class="actions">
					<button type="submit"
					title="<?php echo $block->escapeHtml(__('Search')) ?>"
					class="action search primary">
						<span><?php  echo __('Search'); ?></span>
					</button>
				</div>
			</form>
		</div>	
</div>
<script type="text/javascript">
      require(['jquery','dropdownDialog'],function($){
      <?php if( $settingHelper->checkMobile()=='false'): ?>  
      	   $(".em-container-js-mobile-search").hide();
           $(".em-container-js-mobile-search").dropdownDialog({
                triggerEvent : "click",          
                appendTo:".mobile-search-wrapper",
                triggerTarget:".mobile-search-icon",
                closeOnMouseLeave: false,
                closeOnEscape: false,
                triggerClass:"active",
                parentClass:"active",
                buttons:null
           })
      <?php else: ?>
           $(".em-container-js-mobile-search").dropdownDialog({
                triggerEvent : "click",          
                appendTo:".mobile-search-wrapper",
                triggerTarget:".mobile-search-icon",
                closeOnMouseLeave: false,
                triggerClass:"active",
                parentClass:"active",
                buttons:null
           })
      <?php endif; ?>
      });
</script> 
