<?php /** @var \Magento\Catalog\Block\Product\View $block */ ?>
<div class="croydon-sizes">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <a href="#" data-trigger="trigger">Conoce tu talla ideal</a>
        </div>
    </div>
</div>
<div class="croydon-popup-sizes" data-bind="mageInit: {
        'Magento_Ui/js/modal/modal':{
            'type': 'popup',
            'trigger': '[data-trigger=trigger]',
            'responsive': true
        }}">
    <div class="content">
        <div class="row">
            <div class="col-md-24 col-lg-24 text-center">
                <h3 class="title-sizes">CONOCE TU TALLA IDEAL</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-24 col-lg-24 text-center">
                <p class="title-information">¿CÓMO MEDIR TU PIÉ?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-24 col-lg-24 text-center">
                <img src="<?= $block->getViewFileUrl('Croydon_Size::images/calculadora.jpg') ?>" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-24 col-lg-24 text-center">
                <h4 class="subtitle">Tu pié en centímetros es:</h4>
                <p class="subtitle-information">(recuerda agregar ( <b>.</b> ) para los milímetros)</p>
            </div>
        </div>
        <div class="row custom-calculator">
            <div class="col-md-24 col-lg-24 text-center">
                <form action="#" method="post">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-md-11 col-lg-11 text-right">
                                <input type="text" class="form-control custom-input" name="size" id="txt-size"
                                       placeholder="Ejm. 26.5">
                            </div>
                            <div class="col-md-13 col-lg-13 text-left">
                                <button class="button" type="button" id="btn-size">CALCULAR TU TALLA</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row content-result">
            <div class="col-md-24 col-lg-24 text-center">
                <p class="text-result">LA TALLA QUE DEBES SELECCIONAR ES: <strong id="size-result">40</strong></p>
            </div>
        </div>
    </div>
</div>
<script>

    require(['jquery'], function ($) {
        $('.content-result').hide();
        var sizes = [
            {from: 12, to: 12.6, select: 19},
            {from: 12.7, to: 13.3, select: 20},
            {from: 13.4, to: 13.9, select: 21},
            {from: 14, to: 14.6, select: 22},
            {from: 14.7, to: 15.3, select: 23},
            {from: 15.4, to: 15.9, select: 24},
            {from: 16, to: 16.6, select: 25},
            {from: 16.7, to: 17.3, select: 26},
            {from: 17.4, to: 17.9, select: 27},
            {from: 18, to: 18.6, select: 28},
            {from: 18.7, to: 19.3, select: 29},
            {from: 19.4, to: 19.9, select: 30},
            {from: 20, to: 20.6, select: 31},
            {from: 20.7, to: 21.3, select: 32},
            {from: 21.4, to: 21.9, select: 33},
            {from: 22, to: 22.6, select: 34},
            {from: 22.7, to: 23.3, select: 35},
            {from: 23.4, to: 23.9, select: 36},
            {from: 24, to: 24.6, select: 37},
            {from: 24.7, to: 25.3, select: 38},
            {from: 25.4, to: 25.9, select: 39},
            {from: 26, to: 26.6, select: 40},
            {from: 26.7, to: 27.3, select: 41},
            {from: 27.4, to: 27.9, select: 42},
            {from: 28, to: 28.6, select: 43},
            {from: 28.7, to: 29.3, select: 44},
            {from: 29.4, to: 29.9, select: 45},
            {from: 30, to: 30.6, select: 46}
        ];
        $('#btn-size').click(function () {
            var val = parseFloat($('#txt-size').val());
            var valid = false;
            for (var i = 0; i < sizes.length; i++) {
                var size = sizes[i];
                if (val >= size.from && val <= size.to) {
                    $('#size-result').html(size.select);
                    valid = true;
                    break;
                }
            }
            $('.content-result').show(200);
            if (!valid) {
                $('#size-result').html('Ingrese un valor entre 12 y 30.6');
            }
            valid = false;
        });
        $('#txt-size').keypress(function (event) {
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
    });
</script>