.card {
    border: 1px solid #ccc;
    padding: 3rem;
    border-radius: 1rem;
}

.legend span {
    font-weight: bold !important;
    font-size: 2rem !important;
}

.legend {
    border-bottom: none !important;
}