@media (min-width: 768px), print {
    .header.content:not(.navbar-fixed-top) .minicart-wrapper .action.showcart {
        width: 50px;
        height: 50px;
        line-height: 50px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #081c84;
        text-align: center;
    }
}