.span-required {
    width: 100%;
    text-align: right;
    margin-bottom: 1rem;
}

.span-required .required-fields {
    color: red;
}

.container-remember {
    text-align: right;
    width: 100%;
}

.container-remember .form-group {
    margin-left: 5rem;
}

.instagram-login {
    display: none !important;
}

.facebook-login {
    width: 100% !important;
}

.new-customers {
    color: #000;
}

.customers .col-md-8 {
    width: 33% !important;
}

.customers .col-md-16 {
    width: 66% !important;
}

.field.choice.newsletter.check-customer {
    margin-bottom: 0 !important;
}

div#password-error {
    display: none !important;
}

.country {
    display: none !important;
}