.account .page-title-wrapper .page-title {
    float: left;
    font-weight: bold;
    font-size: 2.3rem;
    text-transform: uppercase;
}

.page-title-wrapper {
    margin-left: 0 !important;
}

a:hover {
    color: #0e3e9c;
}

button.action:hover {
    background: #0e3e9c !important;
    border-color: #0e3e9c !important;
    color: #FFF !important;
}

.croydon-title {
    color: #000 !important;
}

.card.card-body {
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    padding: 2rem 2rem 0;
    margin-bottom: 2rem;
}

.card.card-body .fieldset {
    margin-bottom: 3px !important;
}

.form-newsletter-manage .card {
    padding-bottom: 2rem !important;
}

a.action {
    text-decoration: underline;
}

.country {
    display: none !important;
}