.btn {
    background: #000;
    color: #FFF !important;
    padding: 1.5rem;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 1rem;
}

.btn:hover {
    background: #0e3e9c;
}

.action:hover {
    color: #0e3e9c;
}

