<?php /** @var Magento\Catalog\Block\Product\View $block */ ?>
<?php $product = $block->getProduct() ?>

<div class="row">
    <div class="col-md-24">
        <p class="croydon-sku"><strong><?= $block->escapeHtml($product->getSku()) ?></strong></p>
    </div>
</div>
<div class="row">
    <div class="col-md-24">
        <p>
            <?= $product->getShortDescription() ?>
        </p>
    </div>
</div>
