<?php /** @var Magento\Catalog\Block\Product\View $block */ ?>

<div class="row">
    <div class="col-md-24">
        <h3 class="title-quickview"><?= strtoupper($block->escapeHtml($block->getProduct()->getName())) ?></h3>
    </div>
</div>
