<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View
 * @var \Croydon\Theme\Block\Catalog $block
 */
?>


<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
/** @var \Magento\Catalog\Model\Product\Interceptor $_product */
$_product = $block->getProduct();
?>
    <div class="product attibute <?php /* @escapeNotVerified */ ?>">
        <div class="row">
            <div class="col-lg-24 col-sm-24 col-xs-24">
                <div class="block-title title quickview-title">
                    <strong id="block-related-heading" role="heading" aria-level="2">DETALLES DEL PRODUCTO</strong>
                </div>
                <p>
                    <?= $_product->getDescription() ?>
                </p>
            </div>
            <div class="col-lg-24 col-sm-24 col-xs-24 information">
                <span class="quickview-title"><strong><?= (__('INFORMACIÓN')) ?></strong></span>
                <table>
                    <?php if (!is_null($_product->getCustomAttribute('genero'))): ?>
                        <tr>
                            <td>Genero</td>
                            <td><?= ucfirst($_product->getAttributeText('genero')) ?></td>
                        </tr>
                    <?php endif ?>
                    <?php if (count($block->getChildProducts()) > 0): ?>
                        <tr>
                            <td>Color</td>
                            <td><?= implode(', ', $block->getChildProducts()) ?></td>
                        </tr>
                    <?php endif ?>
                </table>
            </div>
            <?php $categories = $block->getCategories() ?>
            <?php if ($categories->count() > 0): ?>
                <div class="col-lg-24 col-sm-24 col-xs-24 content-metas">
                    <span><strong><?= strtoupper(__('VER MÁS')) ?></strong></span>
                    <div class="row">
                        <?php /** @var \Magento\Catalog\Model\Category\Interceptor $category */ ?>
                        <?php $counter = 0; ?>
                        <?php foreach ($categories as $category): ?>
                            <?php if ($counter == 4) break; ?>
                            <?php try { ?>
                                <div class="col-md-12 col-lg-12">
                                    <a href="<?= ($category->getUrl()) ?>">
                                        <p class="meta">
                                            <?= $block->escapeHtml($block->getCategory($category)->getName()) ?>
                                        </p>
                                    </a>
                                </div>
                            <?php } catch (Exception $e) { ?>
                            <?php } ?>
                            <?php $counter++; ?>
                        <?php endforeach; ?>
                    </div>
                </div>
            <?php endif ?>
        </div>
    </div>
<?php //endif; ?>