//Gemstone Store

//Header

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
	.cms-index-index .em-header-27.page-header {
		margin-top:-20px;
		.header-wrapper-container{margin-bottom:0}
	}
	.em-header-27.page-header{
		&:before{
			width:100%;
			height:30px;
			content:"";
			position:absolute;
			left:0;
			top:0;
			background-size:100%;
			.lib-stylebg(#f8f8f8, ~"../images/banner-top.jpg", left 0);
			.lib-box-shadow(none);
			display:none;
		}
		.header.panel > .header.links {
			> li {
				position:relative;
				> a{
					font-size: 11px;
					text-transform: uppercase;
					font-weight:300;
					padding-top:7px;
					padding-bottom:7px;
					&:before{
						font-size: 11px;
						margin-right:3px;
					}
					&:hover{
						text-decoration:none
					}
					.em-rtl &{
						margin-left: 25px;
					}
				}
			}
			.block-customer-login{
				top:100%;
			}
		}
		.switcher .options .action.toggle{
			padding-top:5px;
			padding-bottom:5px;
			&:after{
				font-size:7px;
			}
		}
		.switcher strong{
			font-weight: 300;
			font-size: 11px;
			text-transform: uppercase;
		}
		.header.content{
			.dropmenu-template{
				text-align:left;
				.em-rtl &{
					text-align:right;
				}
			}
			&:not(.navbar-fixed-top) {
				.header-wrapper-container-top .logo{
					width:100%;
					margin: 30px 0 25px;
				}
				.header-wrapper-container-bottom{
					border-top:1px dashed @em-topmenu__border-color;
					border-bottom:1px dashed @em-topmenu__border-color;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					margin-bottom:20px;
					.logo{display:none}
				}
				/*Minicart*/
				.minicart-wrapper .action.showcart{
					width:auto;
					height:40px;
					background:transparent;
					line-height: unset;
					padding-left: 50px;
					text-align:left;
					.text{
						font-size:12px;
						text-transform:uppercase;
						width: auto;
						height: auto;
						position: static;
						margin-top: 3px;
					}
					.counter{
						top: -12px;
						left: 10px;
					}
					span{
						display:block
					}
					&:before{					
						line-height:40px;
						width: 40px;
						height: 40px;
						position: absolute;
						left: 0;
						top: 0;
						.lib-border-radius(5px);
						.lib-ionicons("\f110", 22px);
						.lib-allstyle(@em-header-cart__text-color, @em-header-cart__background-color);
					}
					.em-rtl &{
						padding-left:0;
						padding-right:50px;
						&:before{
							right:0;
							left:auto;
						}
						.counter{
							right: 10px;
							left:auto
						}
					}
				}
				.em-minicart{
					width: auto;
					margin-top: 0;
				}
				.nav-sections.em-menu-hoz{
					margin-right: auto;
					.em-rtl &{
						margin-right: 0;
						margin-left: auto;
					}
				}
				/*Menu*/
				.em-menu-content li.level0{
					&:hover {
						> a.level-top{
							border-color:transparent
						}
						.dropmenu-template{
							top:101%;
						}
					}
					a.level-top{
						padding: 25px 20px;
					}
				}
			}
			&.navbar-fixed-top{
				padding:0 !important;
				.logo {
					position:static;
					margin: 10px 0;
					img.logo-small{
						width:auto
					}
				}
				/*Menu*/
				.em-menu-content li.level0{
					&:hover {
						> a.level-top{
							border-color:transparent
						}
						.dropmenu-template{
							top:100% !important;
							text-align:left;
							.em-rtl &{
								text-align:right
							}
						}
					}
					a.level-top{
						padding: 22px 20px !important;
					}
				}
				/*Search*/
				.em-search-icon.mobile-search-icon{
					top:15px
				}
				/*Minicart*/
				.em-minicart{
					top:15px;
					.action.showcart{
						&:before{
							.lib-ionicons("\f110", 18px);
						}
						.price{
							display:none
						}
					}
				}
			}
		}
	}
}


/*Slide Show*/
.emthemes-slideshow {
	.ms-bullets{
		position: absolute;
		bottom: 0 !important;
		left: 30px;
		height: 100%;
		display: flex !important;
		justify-content: center;
		align-items: center;
		width: 20px !important;
		.lib-opacity(1) !important;
		.ms-bullets-count{
			position:static;
		}
		.ms-bullet{
			background-image:none;
			background-color:#ffffff;
			.lib-border-radius(100%);
			&.ms-bullet-selected{
				background-color:@em-body__hover__text-color
			}
		}
	}
	&.ms-skin-default {
		[class*="ms-nav-"]{
			width:35px;
			height:35px;
			background-image:none;
			background:rgba(0, 0, 0, 0.5);
			color:#ffffff;
			bottom: 30px;
			top: auto;
			text-align:center;
			&.ms-nav-next{
				&:before{
					.lib-ionicons("\f3d3", 25px);
					line-height:35px;
				}
			}
			&.ms-nav-prev{
				right:75px;
				left:auto;
				&:before{
					.lib-ionicons("\f3d2", 25px);
					line-height:35px;
				}
			}
			&:hover{
				background-color:#282828;
			}
		}
		
	}
}
/*Title*/
.em-line-55,
.block.crosssell,
.block.upsell,
.block.related,
.page-main .widget{
	.block-title,
	.em-block-title,
	.em-widget-title{
		margin-bottom:30px;
		display: flex;
		align-items: center;
		.lib-css(border-bottom, 1px dashed @em-body-title__border-color);
		strong, h2, h3{
			.lib-colorfont(@em-body-title-page__text-color, @title__font);
			font-size:24px;
			text-transform:uppercase;
			padding-bottom:10px;	
			border-bottom:0;
			margin-right:15px;
			.em-rtl &{
				margin-right:0;
				margin-left:15px;
			}
		}
		.sub-title{
			margin-bottom:0;
			color:lighten(@em-body-title-page__text-color, 50%);
			font-size:16px;
		}
	}
}
.em-tabs-widget .em-widget-title {
    border-bottom: 1px dashed @em-body-title__border-color !important;
}
.em-product-style-55{
	.em-product-style-55()
}
.em-button-item-hover(){
	width:40px;
	height:40px;
	line-height:40px;
	.lib-box-shadow(2px 2px 4px #a4a4a4);
	&:before{
		line-height:40px;
		.lib-ionicons("\f110", 16px);
	}
	&:hover{
		.lib-style(@em-btn-default__text-color, @em-btn-default__border-color, @em-btn-default__background-color);
	}
}
.em-product-style-55(){
	.product-item{
		.product-item-info{
			background:#f8f8f8;
			border:0;
			.lib-border-radius(0);
		}
		.product-shop-top {
			position: relative;
			overflow: hidden;
			padding: 0 0 25px;
		}
		.product-reviews-summary{
			margin-bottom: 0;
			position: absolute;
			right: 10px;
			top: 50px;
			.em-rtl &{
				right:auto;
				left:10px;
			}
		}
		.rating-summary .rating-result > span:before{
			color:@em-body-product-name__text-color
		}
		.product-item-details{
			padding: 10px 20px;
			width:100%;
			text-align: left;
			margin-top: -15px;
			.product-item-name{
				padding-right: 40px;
				a{
					font-weight:300
				}
			}
			.price-box{
				display: inline-block;
				.price{
					font:@em-h3__font;
					font-weight:300;
				}
			}
			.actions-secondary {
				position: absolute;
				top: 10px;
				right: 10px;
				.lib-transition();
				.action.towishlist{
					.lib-style(#898989, transparent, transparent);
					&:hover{
						.lib-style(#fc3a52, transparent, transparent);
					}
					&:before{
						font-size:16px;
					}
				}
			}
			.em-rtl &{
				text-align:right;
				.product-item-name{
					padding-right:0;
					padding-left:40px;
					direction: ltr;
				}
				.actions-secondary {
					right:auto;
					left:10px;
				}
			}
		}
		.em-element-display-hover.bottom{
			bottom: auto;
			top: 50%;
			.actions-primary button.tocart.primary{
				.em-button-item-hover();
			}
			.tocompare{
				.em-button-item-hover();
				&:before{
					line-height:40px;
					.lib-ionicons("\f268", 16px);
				}
			}
			.qs-button{
				.em-button-item-hover();
				&:before{
					line-height:40px;
					.lib-ionicons("\f4a4", 16px);
				}
			}
		}
		&:hover{
			.em-element-display-hover.bottom{
				bottom:50%
			}
		}
	}
}
.rating-summary .rating-result > span:before{
	color:@em-body__hover__text-color
}
.middle-banner{
	border:1px solid @em-body__border-color;
	background: #ffffff;
	color:#898989;
	font-weight:300;
	overflow:hidden;
	padding: 10px;
	img{.lib-transition();}
	.banner-box{
		display: flex;
		align-items: center;
	}
	.sub-title{
		font:@em-h3__font;
		font-size:14px;
		color:#000000;
		margin-bottom:0;
		font-weight: 300;
	}
	.title{
		font-size:24px;
		color:@em-body__hover__text-color;
	}
	.view-more{
		text-transform:uppercase;
		font-size:12px;
	}
	&:hover{
		img{
			.lib-scale(1.1);
		}
	}
}

/*product tab*/
.em-wrapper-product-12{
	.em-tabs{
		&.product.data.items{
			margin-top:-73px;
			.item.title {
				position:relative;
				&:after{
					content: "/";
					position:absolute;
					right: -5px;
					top: 8px;
					z-index:3;
					color:@em-tab__text-color;
					.em-rtl &{
						right:auto;
						left:-5px;
					}
				}
				&.active{
					> .switch{
						border:0;
						font-weight:300;
					}
				}
				> .switch{
					border:0;
					position:relative;
					display: inline-block;
				}
				&:first-child{
					margin-left:10%;
					.em-rtl & {
						margin-left:0;
						margin-right:10%;
					}
				}
				&:nth-child(4){
					&:after{
						content:""
					}
				}
			}
			> .item.content{
				border:0;
				padding-left:0;
				padding-right:0;
			}
		}
	}
	.em-grid-12{
		.products-grid{
			.product-items:not(.owl-carousel) {
				.group-product .product-item{
				    width: 50%;
					padding: 0 15px;
					margin-bottom: 30px;
				}
				.big-product .product-item{
					height: 100%;
					margin: 0;
					.product-item-details{
						margin-top: auto;
						text-align: left;
						.em-rtl{
							text-align:right;
						}
					}
					.product-reviews-summary{
						margin-bottom: 0;
						position: absolute;
						right: 10px;
						top: 50px;
						.em-rtl &{
							right:auto;
							left:10px;
						}
					}
				}
				.group-product{
					.product-item{
						&:nth-child(3),
						&:nth-child(4){
							margin-bottom:0;
						}
					}
				}
			}
			.product-items{
				display: flex;
				justify-content: stretch;
				.product-item .product-item-info{
					height: 100%;
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}
/*Blog Post*/
.em-wrapper-ads-10 {
	.em-blog-item{
		overflow:hidden;
		.em-blog-content.bkg-top{
			overflow:hidden;
			img{
				.lib-transition();
			}
		}
		&:hover{
			.em-blog-content.bkg-top{
				img{
					.lib-scale(1.1);
				}
			}
		}
	}
	.em-box.bkg-bottom{
		text-align:center;
		font:@em-general__font;
		font-weight:300;
		border:0;
		.link-more{
			font-weight:300;
			.a-link(@em-body-product-name__text-color, @em-body__hover__text-color)
		}
	}
	.em-blog-time{
		position: static;
		width: auto;
		height: auto;
		color: #000000;
		border-radius: 0;
		padding: 0;
		text-transform: capitalize;
		font-weight: 300;
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		p.em-blog-date{
			font-size:12px;
			margin-right:1px;
			color:#898989
		}
		.em-blog-month{
			color:#898989
		}
	}
	.em-blog-title{
		a{
			font:@em-h3__font;
			font-weight:300;
			text-transform:uppercase
		}
	}	
}
/*Instagram*/
.instagram-wrap{
	.col-right{
		padding:0;
		width:68.8%;
	}
	.col-left{
		padding:0;
		width: 31.2%;
	}
	.insta-list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		.item{
			flex-basis: 21%;
			margin: 0 0 30px 30px;
			overflow:hidden;
			img{
				.lib-transition();
			}
			&:hover{
				img{
					.lib-scale(1.1);
				}
			}
			.em-rtl &{
				margin-left:0;
				margin-right:30px;
			}
		}
	}
}
/*Newletter*/
.em-newsletter{
	border: 1px solid @em-body__border-color;
    padding: 35px;
	background:#ffffff;
	text-align: center;
    position: relative;
	.newsletter {
		width: 70%;
		margin: 0 auto;
	}
	.banner {
		position: absolute;
		top: 0;
		right: 0;
	}
	.em-newletter-title {
		font-weight: 300;
		font-size:16px;
		margin-bottom: 25px;
		.sub{
			color:#898989
		}
		h1{
			font-size: 24px;
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: 5px;
		}
	}
	.field.newsletter{
		width:100%;
		position:relative;
		input[type="email"] {
			color: #000000;
			font-weight:300;
			padding: 10px 20px;
			height: 50px;
			border-radius: 0;
			&::-webkit-input-placeholder {
			  color: #000000;
			}
			&::-moz-placeholder {
			  color: #000000;
			}
			&:-ms-input-placeholder {
			  color: #000000;
			}
			&:-moz-placeholder {
			  color: #000000;
			}
		}
		.control{
			&:before{
				display:none
			}
		}
	}
	.block.newsletter {
		.form.subscribe{
			position:relative
		}
		.actions {
			position: absolute;
			right: 5px;
			top: 5px;
			width: auto;			
			.subscribe.primary{
				.lib-border-radius(0);
				.lib-style(@em-btn-default__background-color, transparent, transparent);
			}
			&:hover{
				.subscribe.primary{
					.lib-style(@em-btn-default__background-color, @em-btn-default__background-color, transparent);
				}
			}			
			.em-rtl &{
				right:auto;
				left:5px;
			}
		}
	}
}


& when (@media-common = true){	
	.page-footer{
		.footer-top{
			.em-block-title{
				.h2{
					font-weight:300;
					margin-bottom:30px;
				}
			}
		}
		.em-links-item{
			a{
				.lib-transition();
			}
		}
		.em-footer-info{			
			padding-top: 40px;
			font-weight: 300;
			padding-bottom: 30px;
			.first {
				padding-right: 10%;
			}
			.last{
				.block-info{
					.fa{
						margin-right:10px;
						.em-rtl &{
							margin-right:0;
							margin-left:10px;
						}
					}
				}
			}
		}
		.em-wrapper-social{
			margin-top:25px;
			.em-social{
				margin: 0 -3px;
				.em-social-icon{
					padding: 1px 3px;
					margin: 0 3px 0 3px;
					font-size: 1.1rem;
					.lib-allstyle(@em-footer__background-color, lighten(@em-footer__background-color, 25%));
					&:hover{
						.lib-allstyle(@em-footer__background-color, 25%, @em-footer__background-color);
					}
				}
			}
		}		
		.footer-bottom{ 
			padding: 0 10px;
			.footer.links{display:none}
			.footer.content{
				padding: 0;
				width: 100%;
				display: flex;
				align-items: center;
				.block-static-block{
					margin-bottom:0;order:2;margin-left: auto;
					.em-rtl &{
						margin-left:0;
						margin-right:auto
					}
				}
			}
			.em-payment{
				ul{
					padding: 0;
					list-style: none;
					li{
						display:inline-block;
						font-size:35px;
						margin:0 3px;
						line-height: 1.35;
						a{
							display:inline-block;
							.lib-transition();
							&:hover{
								color: lighten(@em-footer-bottom__background-color, 10%)
							}
						}
					}
				}
			}
			.copyright {
				font-size: 14px;
				font-weight: 300;
				order:1
			}
		}
	}
}
#back-top a{
	.lib-box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.2));
}
@media screen and (min-width:768px) and (max-width:991px){
	.em-header-27.page-header .header.content{
		&:not(.navbar-fixed-top) ul.em-menu-content li.level0 a.level-top{
			padding: 25px 10px;
		}
		&.navbar-fixed-top{
			ul.em-menu-content li.level0 a.level-top{
				padding: 25px 10px;
			}
		}
		.em-menu-hoz{
			padding:0;
			width: 100%;
		}
	}
	.em-product-style-55 .product-item .product-item-details{
		padding:10px 
	}
}
@media screen and (min-width:768px) and (max-width:1199px){
	.instagram-wrap {
		margin-bottom:0;
		.insta-list .item{
			margin: 0 0 20px 20px;
			padding: 0;
		}
	}
	.em-newsletter{
		margin-bottom:30px;
	}
	.page-footer .footer-bottom {
		.copyright{
			font-size:12px
		}
		.em-payment ul li{
			font-size:20px;
		}
	}
}
@media screen and (max-width:767px){
	.em-header-27.page-header {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 10;
	}
	.page-main {
		padding-top: 65px;
	}
	.em-line-55,
	.block.crosssell,
	.block.upsell,
	.block.related,
	.page-main .widget{
		.block-title,
		.em-block-title,
		.em-widget-title{
			margin-bottom: 15px;
			strong, h2, h3{font-size:18px}
			.sub-title{
				display:none
			}
		}
	}
	.space-block {
		margin-bottom: 25px;
	}
	.em-header-27{
		.em-minicart .minicart-wrapper .action.showcart{
			&:before{					
				.lib-ionicons("\f110", 22px);
				margin-right: -3px;
			}
			span.price{
				font-size:0
			}
		}
	}
	.em-wrapper-new-product-slider .products-grid{
		.product-item{
			margin-bottom:0
		}
	}
	.em-wrapper-product-12 {
		.em-grid-12 .products-grid .product-items{
			display:block;
			&:not(.owl-carousel) {
				.big-product{
					margin-bottom: 15px;
					display: block;
					overflow: hidden;
					.product-item{
						padding:0;
					}
				}
				.group-product .product-item{
					padding: 0;
					margin-bottom: 0;
					border: 1px solid #ffffff;
					.product-item-info{
						padding: 0 5px;
					}
					.product-shop-top{
						padding:0
					}
					.product-item-details {
						.product-item-name{
							padding:0
						}
						.price-box{
							margin-top:0;
							margin-bottom:0
						}
						.actions-secondary{
							display:none
						}
					}
					.product-reviews-summary{
						margin-bottom: 3px;
						position: static;
					}
				}
			}
		}
		.em-tabs.product.data.items{
			margin-top:0;
			.item.title{
				border:1px solid @em-body__border-color;
				a{width:100%}
				&:first-child{
					margin-left:0
				}
				&:after{
					content:"";
				}
			}
		}
	}
	.owl-carousel .owl-nav [class*='owl-']{
		top:-60px;
	}
	.em-slider-from-our-blog{
		.em-blog-item{
			.em-box.bkg-bottom{
				padding:10px 0
			}
			.em-blog-title a{
				font-size:14px;
			}
			.em-blog-des{
				display:none
			}
		}
	}
	.instagram-wrap{
		.col-left{width:100%; margin-bottom:15px}
		.col-right{
			width:100%
		}
		.insta-list .item{
			flex-basis: 25%;
			margin: 10px 0 0;
		}
	}
	.em-newsletter{
		margin-bottom:30px;
		padding: 15px;
		.banner{
			display:none
		}
		.newsletter{
			width:100%;
			&.field .control{
				&:before{
					content:"" !important;
				}
			}
			.actions{
				.subscribe.primary{
					font-size:0;
					&:before{
						.lib-fontawesome("\f1d9", 18px);
					}
				}
			}
		}
	}
	.page-footer {
		.em-footer-info {
			padding:0;
			.first {
				padding-right: 10px;
			}
		}
		.em-wrapper-social{
			float:none
		}
		 .footer-bottom {
			padding:10px;
			.footer.content{
				flex-direction: column;
				justify-content: center;
				.block-static-block{margin:0}
			}
			.copyright{text-align:center; font-size:12px}
		 }
	}
}
@media screen and (max-width:460px){
	.page-wrapper .em-header-27 .logo {
		margin-top: 0;
		margin-bottom: 10px;
		width: 155px;
		max-width: unset;
	}
}
.minicart-wrapper.flyingcart-minicart-wrapper .emthemes-flyingcart .action.flyingcart-co:before{
	.lib-ionicons("\f110", 24px);	
    margin-left: 2px;
}
.catalog-product-view .fotorama__stage{margin-bottom:30px}