<?php /** @var Croydon\Payment\Block\Invoice $block */

use Magento\Sales\Model\Order\Item; ?>
<div class="row">
    <div class="col-md-24 col-lg-24 col-24">
        <h3 class="descripcion-payu"><strong>DESCRIPCIÓN DE TU COMPRA</strong></h3>
        <?php /** @var \Magento\Sales\Api\Data\OrderItemInterface $item */ ?>
        <?php foreach ($block->getItems() as $item): ?>
            <div class="row">
                <div class="col-md-2">
                    <img class="gif-img"
                         src="<?= $block->escapeHtml($block->getImage($item->getProduct())) ?>"/>
                </div>
                <div class="col-md-10">
                    <p><?= $block->escapeHtml($item->getName()) ?></p>
                    <p><?= $block->escapeHtml($item->getSku()) ?></p>
                </div>
                <div class="col-md-2">
                    <p class="cantidad-payu">
                        Cantidad: <?= number_format($block->escapeHtml($item->getQtyOrdered())) ?></p>
                    <p class="precio-payu"><strong>$<?= number_format($item->getPrice(), 0, ',', '.') ?></strong>
                    </p>
                </div>
            </div>
            <div class="linea-gracias-2"></div>
        <?php endforeach; ?>
        <div class="row fila-total">
            <div class="col-md-14 totales2">
                <div class="col-md-12 totales">
                    <p><strong>Subtotal</strong></p>
                    <p>Costos de envío</p>
                    <p>Total sin impuestos</p>
                    <p>Impuestos</p>
                    <p><strong>Total pagado</strong></p>
                </div>
                <div class="col-md-2 totales-3">
                    <p><strong><?= $block->getSubTotal() ?></strong></p>
                    <p><?= $block->getShippingValue() ?></p>
                    <p><?= $block->getTotalWithoutTax() ?></p>
                    <p><?= $block->getTax() ?></p>
                    <p><strong><?= $block->getTotal() ?></strong></p>
                </div>
            </div>
        </div>
        <div class="linea-gracias"></div>
    </div>
</div>
