<?php /** @var Croydon\Payment\Block\Invoice $block */ ?>

<div class="row">
    <div class="col-md-24 col-lg-24 col-24">
        <p class="text-payu">Tu numero de factura es:<br/>
            <strong><?= $block->escapeHtml($block->getOrderId()) ?></strong></p>
        <p class="text-payu">Acabamos de enviarte la información de la factura a:<br/>
            <strong><?= $block->escapeHtml($block->getEmail()) ?></strong></p>
        <p class="text-payu">Dirección de envío:
            <br/><?= $block->escapeHtml($block->getRegion()) ?>
            <br/><strong><?= $block->escapeHtml($block->getCity()) ?>
                | <?= $block->escapeHtml($block->getStreet()) ?></strong></p>
        <div class="linea-gracias"></div>
    </div>
</div>