<?php /** @var \Croydon\Payment\Block\Registration $block */ ?>
<?php if (!$block->isRegistered()): ?>
    <div class="row">
        <div class="col-md-24 col-lg-24 col-24">
            <p class="register-info-text"><strong>Escribe una contraseña para terminar de crear tu cuenta <br/> y poder
                    rastrear tu pedido</strong></p>
            <form method="post" action="<?= $block->getUrl('payment/post') ?>" class="form-inline" id="form-register">
                <?php echo $this->getBlockHtml('formkey') ?>
                <input type="hidden" name="orderId" value="<?= $block->getOrderId() ?>">
                <div class="row">
                    <div class="col-md-5">
                        <label class="text-payu">Contraseña</label>
                        <input type="password" data-validate="{required:true, 'validate-customer-password':true}"
                               name="password" id="password" required class="form-control-plaintext"
                               placeholder="Contraseña">
                        <small class="text-danger" id="text-error">Las contraseñas ingresadas no coinciden</small>
                    </div>
                    <div class="col-md-5">
                        <label class="text-payu">Confirmar contraseña</label>
                        <input required type="password" name="comfirmPassword" id="comfirmPassword" class="form-control"
                               placeholder="Contraseña">
                    </div>
                    <div class="col-md-14">
                        <button type="submit" class="ingreso">TERMINAR</button>
                    </div>
                </div>
            </form>
            <div class="linea-gracias adicional-linea"></div>
        </div>
    </div>
    <script>
        require(['jquery'], function ($) {
            $('#text-error').hide();
            $('#form-register').submit(function (evt) {

                var password = $('#password').val();
                var comfirmPassword = $('#comfirmPassword').val();
                if (password !== comfirmPassword) {
                    $('#text-error').show();
                    $('#text-error').html('Las contraseñas ingresadas no coinciden');
                    evt.preventDefault();
                }
            });
        });
    </script>
    <style>
        .text-danger {
            color: red;
        }
    </style>
<?php endif; ?>

