<?php ?>
<div class="row">
    <div class="col-md-24 col-lg-24">
        <form class="form-inline">
            <div class="row">
                <div class="col-md-5">
                    <label>Contraseña</label>
                    <input type="text" readonly class="form-control-plaintext" placeholder="email@example.com">
                </div>
                <div class="col-md-5">
                    <label>Confirmar contraseña</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="col-md-14 final-gracias">
                    <button type="submit" class="ingreso">VOLVER A PAGAR</button>
                </div>
            </div>
        </form>
    </div>
</div>
