.tocart.action.primary {
    background: #000 !important;
    border-color: #000 !important;
}

.social-buttons div {
    text-align: center;
    margin-left: 4rem;
}

.social-buttons div div {
    border: 1px solid;
    text-align: center;
    margin-bottom: 1rem;
}

.social-buttons .col-md-8, .social-buttons .col-lg-8, .social-buttons .col-sm-8, .social-buttons .col-8 {
    padding: 0 !important;
    margin: 0 !important;
}

.social-buttons a:hover {
    color: #04349c !important;
}

.social-item {
    width: 30% !important;
}

.product-info-main {
    border-color: #fff;
}

.product-info-main h3 {
    color: #000;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.swatch-option {
    padding-bottom: 2.5rem !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.swatch-option.selected {
    outline: none;
    border-radius: 50%;
    border: 4px solid #CCC;
    width: 34px !important;
    height: 23px !important;
}

.box-tocart .qty label {
    display: block !important;
}

.product.attibute.description {
    width: 48%;
    padding-top: 3rem;
    float: left;
    padding-right: 2%;
    border-right: 1px solid #ccc;
}

.block.related {
    width: 48%;
    float: left;
    padding-left: 2%;
    margin-bottom: -6rem !important;
}

.product-info-croydon {
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 3rem;
    width: 100% !important;
}

.block.review-add {
    overflow: hidden;
    width: 100%;
}

.content-metas span {
    float: left;
    width: 100%;
    margin-bottom: 1rem;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.content-metas .meta {
    float: left;
    margin-right: 2rem;
    background: #ccc;
    padding: .5rem;
    color: #000;
    font-size: 1.2rem;
}

.information {
    text-align: left;
}

.information table td {
    text-align: left;
    padding-left: 0 !important;
    padding-top: 0 !important;
}

.information span {
    float: left;
    width: 100%;
    margin-top: 1rem;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.product.attibute.description #block-related-heading {
    color: #000 !important;
    font-size: 1.2rem;
    margin-bottom: 1rem !important;
}

.product.attibute.description .value {
    margin-top: 1rem;
}

.product.attibute.overview {
    display: inline-block;
}

.product.attibute.overview .type {
    margin-left: 1rem;
    float: left;
}

.point-icon {
    background: #000;
    width: 6px;
    height: 6px;
    float: left;
    margin-left: 1rem;
    margin-top: .6rem;
    border-radius: 50%;
}

.block.related #block-related-heading {
    border-bottom: 0;
    font-size: 1.5rem;
}

.block.related .block-title.title {
    border-bottom: 0;
}

.page-title-wrapper {
    margin-left: 0 !important;
}

.page-title-wrapper.product .page-title {
    float: left;
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.title-sku {
    width: 100%;
    overflow: hidden;
}

.field.qty .label {
    float: left;
    margin-top: 1rem;
    margin-right: 1rem;
}

.fotorama__caption {
    display: none;
}

.page-main {
    padding-top: 0 !important;
}

.swatch-attribute-selected-option {
    color: #04349c !important;
}

.product-info-main .product-info-price {
    border-bottom: none;
}

span.percentage {
    top: 26.6rem !important;
    right: 38rem !important;
}

.product-info-main .product-info-price .old-price .price-wrapper .price {
    font-size: 24px !important;
    text-decoration: line-through !important;
    color: #a5a1a1 !important;
}

.special-price .price {
    font-size: 30px !important;
    color: red !important;
}

.product-info-main .product-info-price {
    margin-bottom: 0 !important;
}

.product-options-bottom .price-box, .product-info-price .price-box {
    padding-bottom: 0 !important;
}

.product-info-main .box-tocart {
    margin-top: 0 !important;
}

.product-options-wrapper {
    margin-top: -20px;
}

.sku .value {
    font-weight: bold;
}

/**Sizes*/

