<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <img data-bind="attr: {src: depositImageSrc, alt: $t('Consignación bancaria'), height: '', width: '40' }"
             class="payment-icon">
        <label data-bind="attr: {'for': getCode()}"
               class="label"><strong><span>Consignación bancária</span></strong></label>
    </div>
    <div class="payment-method-content">
        <p>Selecciona el banco de tu preferencia y sigue las instrucciones</p>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center center-block">
                    <img data-bind="attr: {src: depositImageDavivienda, alt: $t('Consignación bancaria'), height: '', width: '110' }"
                         class="payment-icon">
                </div>
                <div class="text-center center-block">
                    <input type="radio" data-toggle="collapse" data-target="#demo" name="bank" onclick="document.getElementById('davivienda').style.display ='block';document.getElementById('BBogota').style.display = 'none';document.getElementById('bbva').style.display = 'none';document.getElementById('avvillas').style.display = 'none';">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center center-block">
                    <img data-bind="attr: {src: depositImageBogota, alt: $t('Consignación bancaria'), height: '', width: '110' }"
                         class="payment-icon">
                </div>
                <div class="text-center center-block">
                    <input type="radio" name="bank" data-toggle="collapse2" data-target="#demo2" onclick="document.getElementById('davivienda').style.display ='none';document.getElementById('BBogota').style.display = 'block';document.getElementById('bbva').style.display = 'none';document.getElementById('avvillas').style.display = 'none';">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center center-block">
                    <img data-bind="attr: {src: depositImageBbva, alt: $t('Consignación bancaria'), height: '', width: '110' }"
                         class="payment-icon">
                </div>
                <div class="text-center center-block">
                    <input type="radio" name="bank" onclick="document.getElementById('davivienda').style.display ='none';document.getElementById('BBogota').style.display = 'none';document.getElementById('bbva').style.display = 'block';document.getElementById('avvillas').style.display = 'none';">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-center center-block">
                    <img data-bind="attr: {src: depositImageAvvillas, alt: $t('Consignación bancaria'), height: '', width: '110' }"
                         class="payment-icon">
                </div>
                <div class="text-center center-block">
                    <input type="radio" name="bank" onclick="document.getElementById('davivienda').style.display ='none';document.getElementById('BBogota').style.display = 'none';document.getElementById('bbva').style.display = 'none';document.getElementById('avvillas').style.display = 'block';">
                </div>
            </div>
        </div>
        <br>
        <div class="show-information-bank " id="davivienda">
            <div class="bank-n">
                <div class="row">
                    <div class="col-md-14">
                        <p><strong>A. </strong>Nombre del convenio
                            <strong>Croydon Colombia S.A. <br>
                                Nit: 800.120.681-2</strong>
                        </p>
                        <p>
                            <strong>B. </strong>Número de cuenta: Cuenta Corriente: 084269998310
                        </p>
                        <p><strong>C. </strong>Diligencia tu número de documento de identidad.</p>
                    </div>
                    <div class="col-md-10">
                        <img data-bind="attr: {src: depositImageDavivienda, alt: $t('Consignación bancaria'), height: '', width: '110' }"
                             class="payment-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="show-information-bank " id="BBogota" style="display: none;">
            <div class="bank-n">
                <div class="row">
                    <div class="col-md-14">
                        <p><strong>A. </strong>Nombre del convenio
                            <strong>Croydon Colombia S.A. <br>
                                Nit: 800.120.681-2</strong>
                        </p>
                        <p>
                            <strong>B. </strong>Número de cuenta: Cuenta de ahorros 054232061
                        </p>
                        <p><strong>C. </strong>Diligencia tu número de documento de identidad.</p>
                    </div>
                    <div class="col-md-10">
                        <img data-bind="attr: {src: depositImageBogota, alt: $t('Consignación bancaria'), height: '', width: '110' }"
                             class="payment-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="show-information-bank " id="bbva" style="display: none;">
            <div class="bank-n">
                <div class="row">
                    <div class="col-md-14">
                        <p><strong>A. </strong>Nombre del convenio
                            <strong>Croydon Colombia S.A. <br>
                                Nit: 800.120.681-2</strong>
                        </p>
                        <p>
                            <strong>B. </strong>Número de cuenta: Cuenta de ahorros 494-005036
                        </p>
                        <p><strong>C. </strong>Diligencia tu número de documento de identidad.</p>
                    </div>
                    <div class="col-md-10">
                        <img data-bind="attr: {src: depositImageBbva, alt: $t('Consignación bancaria'), height: '', width: '110' }"
                             class="payment-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="show-information-bank " id="avvillas" style="display: none;">
            <div class="bank-n">
                <div class="row">
                    <div class="col-md-14">
                        <p><strong>A. </strong>Nombre del convenio
                            <strong>Croydon Colombia S.A. <br>
                                Nit: 800.120.681-2</strong>
                        </p>
                        <p>
                            <strong>B. </strong>Número de cuenta: Cuenta de ahorros 059-00856-5
                        </p>
                        <p><strong>C. </strong>Diligencia tu número de documento de identidad.</p>
                    </div>
                    <div class="col-md-10">
                        <img data-bind="attr: {src: depositImageAvvillas, alt: $t('Consignación bancaria'), height: '', width: '110' }"
                             class="payment-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: placeOrder,
                        attr: {title: $t('FINALIZAR COMPRA')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="i18n: 'FINALIZAR COMPRA'"></span>
                </button>
            </div>
        </div>
    </div>
</div>

        