<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <img data-bind="attr: {src: payulatamImageSrc, alt: $t('Payulatam'), height: '', width: '40' }"
             class="payment-icon"/>
        <label data-bind="attr: {'for': getCode()}"
               class="label"><strong><span>Tarjeta de crédito</span></strong></label>
    </div>
    <div class="payment-method-content">

        <p>Pagando con tarjeta de crédito, asegura mejores tiempos de entrega y evita filas</p>

        <!-- Render the native credit card form. -->
        <form class="form" data-bind="attr: {'id': getCode() + '-form'}">
            <!-- ko template: 'Magento_Payment/payment/cc-form' --><!-- /ko -->
        </form>
        <br>
        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        data-bind="
                        attr: {title: $t('FINALIZAR COMPRA')},
                        enable: (getCode() == isChecked()),
                        click: placeOrder,
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        class="action primary checkout"
                        disabled>
                    <span data-bind="i18n: 'FINALIZAR COMPRA'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
