<?php /** @var \Croydon\Pse\Block\Onepage\Error $block */ ?>
<div class="row">
    <div class="col-md-24 col-lg-25 col-24">
        <h2 class="title-payu">¡MALAS NOTICIAS!</h2>
        <br/>
        <div class="row">
            <div class="col-md-11"><h3 class="title-2-payu">TU ENTIDAD BANCARIA NO APROBÓ EL PAGO</h3></div>
            <div class="col-md-13"><img
                        src="<?php echo $block->getUrl("pub/media/wysiwyg/") ?>X.png" class="img-payu-x"/>
            </div>
        </div>
        <p class="text-payu">A través de <strong>TARJETA DÉBITO(PSE)</strong></p>
        <p class="text-payu">Comunícate con tu banco para validar tu  tarjeta</p>
        <p class="text-payu">Puedes estar tranquilo que de parte de Croydon, no se generó ningún
            <br/>tipo de debito a tu tarjeta</p>
        <div class="linea-gracias"></div>
        <p class="text-payu">Acabamos de enviarte la informacion de tu intento de compra a:<br/>
            <strong> <?= $block->escapeHtml($block->getEmail()) ?></strong></p>
        <div class="linea-gracias"></div>
    </div>
</div>

