<?php /** @var \Croydon\Pse\Block\Onepage\Success $block */ ?>
<div class="row">
    <div class="col-md-24 col-lg-24 col-24">
        <h2 class="title-payu">¡GRACIAS POR TU COMPRA!</h2>
        <br/>
        <div class="row">
            <div class="col-md-11"><h3 class="title-2-payu">FELICIDADES ¡TU COMPRA HA SIDO EXITOSA!</h3></div>
            <div class="col-md-13"><img
                        src="<?php echo $block->getUrl("pub/media/wysiwyg/") ?>CHULO.png" class="img-payu"/>
            </div>
        </div>
        <p class="text-payu">A través de <strong>TARJETA DÉBITO(PSE)</strong></p>
        <p class="text-payu">A nombre de:<br/>
            <strong><?= $block->escapeHtml($block->getName()) ?></strong></p>
        <p class="text-payu">Valor pagado:<br/>
            <strong><?= $block->escapeHtml($block->getTotal()) ?></strong></p>
    </div>
</div>

