.header-nav-images {
    width: 100%;
    list-style: none;
}

.page-header {
    background: #FFF !important;
    margin-top: .8rem;
}

.header.content {
    background: #000 !important;
}

.header-nav-images li {
    float: left !important;
    width: 16% !important;
    margin: 0;
    padding: 0;
}

.header-nav-images li img {
    width: 80%;
}

.header.panel.right {
    display: none;
    width: 0;
    margin: 0;
    padding: 0;
}

.header-nav-images:first-child {
    padding-left: 5rem;
}

.logo {
    margin-right: 6rem !important;
}

.em-menu-content li.level0 {
    margin-right: 10px !important;
}

.header-nav-images span {
    color: #6b6b6b;
    font-weight: bold;
    font-size: 1.6rem;
}

.header-nav-images .link-login {
    float: right;
    width: 11% !important;
    padding-top: .5rem;
    text-align: right;
}

.header-nav-images a {
    color: #6b6b6b;
    float: right;
}

.panel.wrapper {
    border: 0;
    /*padding: 6px 0 !important;*/
    padding-top: 1rem !important;
    padding-bottom: 0 !important
}

button.action.search.primary {
    background: #8d8d8d !important;
    border-color: #8d8d8d !important;
}

.product-item .old-price {
    float: left;
    margin-left: 6.5rem;
    font-size: 1.2rem;
    text-decoration: line-through;
    color: #7d7d7d !important;
}

.product-item .old-price .price-label {
    display: none;
}

.product-item .special-price {
    float: right;
    margin-top: 0.5rem;
    margin-right: 6rem;
    color: #ff3333;
}

.product-item .special-price .price {
    color: #ff3333;
}

.em-footer-style07 .footer-top .em-footer-info {
    border-bottom: none !important;
}

.copyright {
    text-align: center;
}

.footer .block-static-block.widget {
    margin-bottom: 0 !important;
}

.em-footer-info {
    padding-bottom: 0 !important;
}

.em-wrapper-ads-14.style01 {
    background-size: contain;
}

.em-wrapper-ads-14 {
    padding: 3rem 0 !important;
}

#back-top a {
    background: #000 !important;
    border-color: #000 !important;
}

.link-login {
    float: right;
    text-align: right;
}

.icon-unlock::before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    content: "\f13e";
}
/**
home css
 */
@media screen and (max-width: 480px) {


/* header */
.panel .header{
    display: none;
}
.header.content{
    background: white !important;
}

.nav-toggle{
    border: 1px solid darkgrey;
    background: darkgrey;
}
.em-search-icon.mobile-search-icon
{
    background: darkgrey;
    border: 1px solid darkgrey;
}

strong.logo {
        position: absolute;
        top: 0rem;
        right: 6rem;
}

img.logo-small.retina-img {
    content: url("http://croydon.local/pub/media/emthemes/themesettings/smalllogo/logo-Crodon.png");
}



}

