<div class="balance">
    <!-- ko if: isVisibleBalance() -->
    <h3>Saldo a favor</h3>
    <p>Tienes a favor <strong data-bind="text: getTotal()"></strong> ¿Quieres aplicarlo?</p>
    <button type="button" data-bind="click: apply"> APLICAR SALDO A FAVOR</button>
    <hr/>
    <!-- /ko -->
</div>