.opc-block-summary .product-item .product-item-inner {
    margin-bottom: 0 !important;
}

.details {
    width: 100%;
    overflow: hidden;
    display: block;
}

.details-sku {
    width: 50%;
    float: left;
}

.details-qty {
    width: 50%;
    float: right;
    margin-top: 0 !important;
    text-align: right;
}

.details-price {
    float: right;
}

.checkout-payment-method .payment-option._collapsible .payment-option-title {
    padding-left: 0;
}

.checkout-payment-method .payment-option._collapsible .payment-option-content {
    padding-left: 0;
    border-bottom: 2px solid;
    margin-bottom: 1rem;
}

.payment-option-content {
    display: block !important;
}

#block-discount-heading::after {
    display: none;
}

.action-apply {
    background: #ccc;
    border-color: #ccc;
}


.checkout-payment-method .ccard .number .input-text {
    width: 100% !important;
}

.checkout-payment-method .select {
    width: 100% !important;
}

.checkout-payment-method .ccard .cvv .input-text {
    width: 81% !important;
}

.opc-block-summary .minicart-items-wrapper {
    margin: 0 0px 0 0 !important;
    max-height: 353px !important;
    padding: 15px 0px 0 0 !important;
    border: 0;
}

.minicart-items-wrapper {
    overflow-x: hidden;
}

.additional {
    display: none
}

.checkout-payment-method .payment-option-title .action-toggle {
    font-weight: bold;
}

.checkout-payment-method .payment-option-title .action-toggle small {
    font-weight: normal;
}

.opc-progress-bar-item._complete > span {
    color: #04349c !important;
}

.checkout-payment-method .payment-methods .actions-toolbar .primary {
    background: #000 !important;
    border-color: #000;
}

.checkout-payment-method .payment-methods .actions-toolbar .primary:hover {
    background: #04349c !important;
    border-color: #04349c;
    color: #FFF !important;
}

.checkout-shipping-method .actions-toolbar .action.primary {
    background: #000 !important;
    border-color: #000;
}

.checkout-shipping-method .actions-toolbar .action.primary:hover {
    background: #04349c !important;
    border-color: #04349c;
    color: #FFF !important;
}

.custom-phone {
    width: 48% !important;
    float: left !important;
}

.custom-phone .field-tooltip {
    display: none;
}

.custom-phone .input-text {
    width: 100% !important;
}

.custom-gender {
    width: 48% !important;
    float: right !important;
}

.croydon-required-fields {
    text-align: right !important;
    float: right !important;
}

.croydon-required-fields .text-danger {
    color: red;
}

.opc-wrapper .step-title {
    text-transform: uppercase;
}


.checkout-resume {
    /* position: fixed; */
    /* width: 26%; */
}

.texto-asesoria {
    text-align: right;
    font-size: 1.6rem;
    margin-top: 11px;
}

p .texto-asesoria:before {
    display: inline-block;
    font-family: FontAwesome;
    font-weight: 900;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    content: "\f590";
    margin-right: 12px;
}

.headset {
    width: 78%;
    margin-right: -31px;
}

.compra-segura {
    float: right;
}

.ui-datepicker {
    width: 30rem !important;
}

.custom-terms > .label {
    display: none !important;
}

.custom-susbcriber > .label {
    display: none !important;
}

.custom-susbcriber {
    margin-bottom: 0rem !important;
}

a.checkout-link-terms {
    text-decoration: underline;
}

a.checkout-link-terms:hover {
    color: #0e3e9c !important;
}

.custom-country {
    display: none;
}

.custom-document {
    width: 60%;
    float: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
}

.custom-document .control {
    width: 95%;
}

.custom-type-document {
    width: 40%;
    float: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
}

.opc-wrapper .form-login {
    border: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.form.form-shipping-address {
    margin-top: 0 !important;
}

.actions-toolbar {
    margin-bottom: 2rem !important;
}

span.action.nav-toggle {
    display: none;
}

button.action.action-auth-toggle {
    display: none;
}

.cart-totals .grand .mark, .opc-block-summary .table-totals .grand .mark {
    font-size: 1.4rem !important;
}

.cart-totals .grand .amount, .opc-block-summary .table-totals .grand .amount {
    font-size: 1.4rem !important;
}