<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <img data-bind="attr: {src: pseImageSrc, alt: $t('Pse'), height: '', width: '40' }"
             class="payment-icon"/>
        <label data-bind="attr: {'for': getCode()}"
               class="label"><strong><span>Tarjeta de débito</span></strong></label>
    </div>
    <div class="payment-method-content">
        <p>Pagando con tarjeta débito, asegura mejores tiempos de entrega y evita filas</p>
        <img data-bind="attr: {src: pseImageSrcIcon, alt: $t('Pse'), height: '', width: '45' }">
        <p>Al finalizar tu compra, se redireccionrá al portal de PSE para realizar tu pago</p>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: placeOrder,
                        attr: {title: $t('IR A PSE A REALIZAR TU PAGO')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="i18n: 'IR A PSE A REALIZAR TU PAGO'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
        