<?php /** @var Croydon\Baloto\Block\Index $block */ ?>
<div class="row">
    <div class="col-md-24 collg-24 col-24">
        <h2 class="title-payu">¡TU PEDIDO HA SIDO FACTURADO!</h2>
        <br/>
        <div class="row">
            <div class="col-md-11"><h3 class="title-2-payu">SOLO FALTA QUE REALICES TU PAGO</h3></div>
            <div class="col-md-13"><img
                        src="<?php echo $block->getUrl("pub/media/wysiwyg/") ?>PENDIENTE.png" class="img-baloto"/>
            </div>
        </div>
        <p class="text-payu">A través de <strong>VÍA BALOTO</strong> siguiendo estos pasos:</p>
        <ol class="list-gracias" type="1">
            <li class="text-payu">Dirigete a cualquier <strong>VÍA BALOTO</strong> del país</li>
            <li class="text-payu">Indicarle al operador los datos que podrás descargar aquí</li>
        </ol>
        <form action="">
            <button class="comprobante"> DESCARGAR COMPROBANTE PARA PAGAR</button>
        </form>
        <br/>
        <br/>
        <p class="text-payu">El totál a pagar es
            <strong><?= $block->getTotal() ?></strong></p>
        <p class="text-payu"><strong>Recuerda :</strong></p>
        <p class="text-payu">-Ten en cuenta que una vez trasncurridas las 72 horas hábiles de haber creado tu
            <br/>
            pedido, este será cancelado automaticamente si no has realizado el pago.</p>
        <div class="linea-gracias"></div>
    </div>
</div>