<?php
/**
* Magedelight
* Copyright (C) 2017 Magedelight <info@magedelight.com>
*
* @category Magedelight
* @package Magedelight_Storelocator
* @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
?>

<?php $requireData = $this->getSingleStoreData(); ?>
<?php $_holiday = $this->getHoliday($requireData[0]['storelocator_id']); ?>
<?php if (!empty($_holiday)) { ?>
    <div class="tab_content open">
        <h2 class="open_hour_title">
            <span aria-hidden="true" class="glyphicon glyphicon-time"></span>
            <span>Holiday</span>
        </h2>
        <div class="table-responsive holiday-container">
            <table class="table">
                <tbody>
                    <?php
                    $j = 0;
                    foreach ($_holiday as $data) {
                        ?>
                        <tr class="<?php echo ($j % 2 == 0) ? 'even' : 'odd'; ?>">
                            <td style="text-align: center; "><?php echo $data['holiday_name']; ?></td>
                            <td style="text-align: center; "><?php echo $data['date']; ?>:</td>
                            <td>
                                <?php echo __("Closed"); ?>
                            </td>
                        </tr>
                        <?php
                        $j += 1;
                    }
                    ?>
                </tbody>
            </table>
        </div>
    </div>
<?php } ?>
