<?php
/**
* Magedelight
* Copyright (C) 2017 Magedelight <info@magedelight.com>
*
* @category Magedelight
* @package Magedelight_Storelocator
* @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
?>

<?php
$requireData = $this->getStorelist();
$_DistanceUnit = $this->getDistanceUnit();
$_DefaultRadious = $this->getDefaultRadious();
$_MaxRadious = $this->getMaxRadious();
$allmarkerimage = $this->getMarkerImage();
if (!empty($requireData)) {
    $markers = "";
    $messages = "";
    $i = 0;
    $state = "";

    foreach ($requireData as $data) {
        $data["address"] = explode('\n', $data["address"]);
        $state = "";
        if (is_null($data["state"])) {
            if (isset($data["region_id"]) && $data["region_id"] != 0) {
                $state = $this->getRegionName($data["region_id"]);
            }
        } else {
            $state = $data["state"];
        }
        
        $fullAddress = "";

        if (count($data["address"]) > 1) {
            $fullAddress .= addslashes($data["address"][0]) . ",</br> " . addslashes($data["address"][1]). ",</br> ";
        } else {
            $fullAddress .= addslashes($data["address"][0]) . ",</br> ";
        }

        $fullAddress .= addslashes($data["city"]) . ",</br> ";
        if (!empty($state)) {
            $fullAddress .= addslashes($state) . ",</br> ";
        }
        $fullAddress .= addslashes($this->getCountryName($data["country"]) . ". - " . addslashes($data["zipcode"]));

        /* storelocatorid */
        $markers .= '{storelocatorid:' . $data["storelocator_id"] . ',lat:' . $data["latitude"] . ',lng:' . $data["longitude"] . ',address:"' . $fullAddress . '",storeurl:"' . $this->getUrl($data["url_key"]) . '",name:' . '"' . $data["storename"] . '",storeimage:' . '"' . $this->getStoreImage($data['storelocator_id']) . '",contact:' . '"' . $this->getContactInfo($data['storelocator_id']) . '"},';

        /* code for create store info div */
        $html = "";
        $html .= "<div class='store-marker-container'><div class='address-info'><table><tr><td colspan='4' align='left'><h2>" . $data["storename"] . "</h2></td></tr><tr><td rowspan='3'><img src=" . $this->getStoreImage($data['storelocator_id']) . "></td></tr><tr><td><strong>".__("Address").":</strong></td><td><p>" . $fullAddress . "</p></td></tr>" . $this->getContactInfo($data['storelocator_id']) . "</table></div></div>";
        /* end code for create store info div */

        $messages .= '"' . $html . '", ';
        $i++;
    }
    $markers1 = rtrim($markers, ",");
    $messages1 = rtrim($messages, ", ");
    ?>
    <div class="storelocator-page">
        <div class="search-content">
            <div class="container-search">
                <div class="row search-by-distance">
                    <div class="input-location">
                        <input id="pac-input" class="controls form-control" type="text" placeholder="<?php echo __("Please enter a location") ?>">
                    </div>
                    <div class="radius-controls">
                        <div class="row">
                            <div class="hidden-sm hidden-xs label-radius">
                                <label><?php echo __("Radius"); ?></label>
                            </div>
                            <div id="track1" >
                                <input id="circle-radius" type="range" name="points" min="0" max="<?php echo $_MaxRadious; ?>" value="<?php echo $_DefaultRadious; ?>">
                            </div>
                            <div class="radius-value-container" style="padding: 0px;">
                                <div id="radius-value"><?php echo $_DefaultRadious . ' ' . $this->getDistanceUnit() ?></div>
                            </div>
                        </div>
                    </div>
                    <div class="search-type">
                        <div class="">
                            <button id="reset-direction" class="button btn btn-show btn-go-direction" title="Reset">
                                <span><?php echo __("Reset"); ?></span>
                            </button>

                            <button id="submit-search" class="button btn btn-show btn-go-direction" title="Search">
                                <span><?php echo __("Search"); ?></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-locator-right">
            <div class="mapBlock">
                <div id="map_canvas" style="width: 100%; height: 473px;">
                </div>
                <div id="pano" style="width: 100%; "></div>
            </div>
            <div id="showinfo">
            </div>
        </div>
        <div class="info-locator">
            <div class="box">
                <div class="title-list">
                    <h2><?php echo __('Store List') ?></h2><span id="store-counter"><?php echo $_totalStore = count($requireData) ?> <?php echo __('Store') ?></span>
                </div>
                <ul id="list-store-detail">
                    <li class='el-content' index="0" style="display:none"><p><?php echo __("There is no stores available in selected area."); ?></p></li>
                    <?php
                    foreach ($requireData as $data) {
                        ?>
                        <li class="el-content" index="<?php echo $data['storelocator_id'] ?>">
                            <div class="top-box col-xs-12">
                                <div class="col-sm-3 col-xs-3 tag-store">
                                    <a href="<?php echo $this->getStoreUrlFromKey($data["url_key"]); ?>">
                                        <img src="<?php echo $this->getStoreImage($data['storelocator_id']) ?>">
                                    </a>
                                    <span/>
                                </div>
                                <div class="col-sm-9 col-xs-9 tag-content">
                                    <h4>
                                        <a href="<?php echo $this->getStoreUrlFromKey($data["url_key"]); ?>" class="view-detail"><?php echo addslashes($data["storename"]); ?></a>
                                    </h4>
                                    <?php $address = explode('\n', $data["address"]); ?>
                                    <p><?php echo addslashes($address['0']); ?></p>
                                    <?php if (count($address) > 1) { ?>
                                        <p><?php echo addslashes($address['1']); ?></p>    
                                    <?php } ?>
                                    <p><?php echo addslashes($data["city"]); ?></p>
                                    <?php
                                        $state = '';
                                    if (is_null($data["state"])) {
                                        if (isset($data["region_id"]) && $data["region_id"] != 0) {
                                            $state = $this->getRegionName($data["region_id"]);
                                        }
                                    } else {
                                        $state = $data["state"];
                                    }
                                    ?>
                                    <p><?php echo addslashes($state); ?></p>
                                    <p><?php echo addslashes($this->getCountryName($data["country"])) . ' - ' . addslashes($data["zipcode"]); ?></p>
                                    <p class="phone-store"><?php echo $this->getContactInfo($data['storelocator_id']) ?></p>
                                    <span class="address-store" style="display: none;"><?php echo addslashes(str_replace('\n', ', ', $data["address"])) . ", " . addslashes($data["city"]) . ", " . addslashes($this->getCountryName($data["country"])) ?></span>
                                    <a href="javascript:streetview([<?php echo $data['latitude']; ?>],[<?php echo $data['longitude']; ?>]);"><?php echo __("Street View")?></a><span style="color:#999999; padding:0 0 0 5px; font-size:12px;">|</span><span class="btn btn-link direction"><?php echo __("Direction") ?></span>


                                </div>
                            </div>
                        </li>
                        <?php
                    }
                    ?>
                </ul>
            </div>
        </div>


    </div>
    <div id="option-direction" class="custom-popup col-xs-12" style="display:none;">
        <ul class="vertical">
            <li mvalue="DRIVING" class="travel car"><span>A</span></li>
            <li mvalue="TRANSIT" class="travel bus active"><span>A</span></li>
            <li mvalue="WALKING" class="travel walk"><span>A</span></li>
            <li mvalue="BICYCLING" class="travel bicycle"><span>A</span></li>
        </ul>
        <div class="col-xs-12" id="directions-el">

            <div class="form-inputs">
                <form id="get-direction" method="post" action="#"  data-mage-init='{"validation":{}}'>
                    <input id="start-location" data-validate="{required:true}" type="text" autocomplete="off" class="form-control customer-location start" placeholder="Enter a location">
                    <a href="#" onclick="getCurrentLocation(event)"><?php echo __("current location"); ?></a>
                    <input id="end-location" type="text" data-validate="{required:true}" readonly="true" value="" class="form-control store-location end">

                </form>
                <div class="box-input">
                    <button id="submit-direction" class="button btn btn-show btn-go-direction" title="Go">
                        <span><?php echo __("Go"); ?></span>
                    </button>
                </div>
            </div>

            <div id="directions-panel" class="directions-panel"></div>
        </div>
    </div>

    <script type="text/javascript">
        var mapapikey = '<?php echo $this->getGoogleMapApiKey() ?>';
        require.config({
            paths: {
                'googleMap': '//maps.googleapis.com/maps/api/js?key='+mapapikey+'&libraries=places'
            }
        });

        require(['jquery'], function ($) {
            $(function () {

                markerimage = '<?php echo $this->getViewFileUrl("Magedelight_Storelocator::images/marker.png"); ?>';
                distanceunit = '<?php echo $this->getDistanceUnit(); ?>';

                $("#submit-search").click(function () {
                    var input = document.getElementById('pac-input');

                    google.maps.event.trigger(input, 'focus')
                    google.maps.event.trigger(input, 'keydown', {
                        keyCode: 13
                    });
                });

                $("#reset-direction").click(function () {
                    $('li.el-content').show();
                    $('li[index="0"]').hide();
                    $('#store-counter').text('<?php echo $_totalStore; ?> Stores');
                    $('#pac-input').val('');
                    $('#circle-radius').val('<?php echo $_DefaultRadious; ?>');
                    $('#radius-value').text('<?php echo $_DefaultRadious; ?> <?php echo $this->getDistanceUnit(); ?>');
                                    $("#directions-panel").text('');
                                    $("#option-direction").hide();
                                    circle = null;
                                    radius = null;
                                    sliderzoomvalue = null;
                                    var mapapikey = '<?php echo $this->getGoogleMapApiKey() ?>';
                                    require.config({
                                        paths: {
                                            'googleMap': '//maps.googleapis.com/maps/api/js?key='+mapapikey+'&libraries=places'
                                        }
                                    });
                                    var markers1 = [<?php echo $markers1; ?>];
                                    var messages1 = [<?php echo $messages1; ?>];
                                    var allmarkerimage = '<?php echo $allmarkerimage; ?>';
                                    require(['jquery', 'googleMap'], function ($) {
                                        initializeListView(markers1, messages1, allmarkerimage);

                                    });
                                });

                                $('#list li').each(function (i, e) {
                                    $(e).click(function (i) {
                                        return function (e) {
                                            google.maps.event.trigger(gmarkers[i], 'click');
                                        }
                                    }(i));
                                });

                                $("li.el-content").click(function () {
                                    var currentStoreId = $(this).attr('index');
                                    google.maps.event.trigger(markerlist[currentStoreId], 'click');
                                });

                                $('#list-store-detail').on('click', '.direction', function () {
                                    var isAvailabel = document.querySelector("#list-store-detail").querySelector("#option-direction");
                                    $("#directions-panel").text('');
                                    $("#end-location").val($(this).prev().prev().prev('span.address-store').text());
                                    $("#start-location").val('');

                                    if (isAvailabel === null) {
                                        $(this).parents('.top-box').after($("#option-direction"));
                                        $("#option-direction").show();
                                    } else {
                                        $("#option-direction").appendTo($(this).parents('.top-box'));
                                        $("#option-direction").show();
                                    }
                                    ;
                                });




                                var slidervalue = document.getElementById("circle-radius");
                                var result = document.getElementById("radius-value");

                                slidervalue.addEventListener("input", function () {
                                    result.innerHTML = slidervalue.value + distanceunit;
                                    var radiusval = slidervalue.value;
                                    updateRadius(radiusval);
                                }, false);

                            });
                        });
    </script>
    <script type="text/javascript">
        var mapapikey = '<?php echo $this->getGoogleMapApiKey() ?>';
        require.config({
            paths: {
                'googleMap': '//maps.googleapis.com/maps/api/js?key='+mapapikey+'&libraries=places'
            }
        });
        var markers1 = [<?php echo $markers1; ?>];
        var messages1 = [<?php echo $messages1; ?>];
        var allmarkerimage = '<?php echo $allmarkerimage; ?>';
        require(['jquery', 'googleMap'], function ($) {
            initializeListView(markers1, messages1);
        });
        /* end function for calculate direction between two places */
    </script>


<?php } else { ?>
    <div class="message notice">
        <div>
            <?php echo __("Your store search returned no results.") ?>                    
        </div>
    </div>
<?php } ?>
