.wishlist-index-index .product-item-inner {
    margin-top: -17px !important;
}

.qs-button {
    display: none !important;
}

.product-item-info:hover .qs-button {
    display: inline-block !important;
}

.croydon-title {
    color: #000 !important;
}