@header_bg_color:#000000;@header_top_bg_color:#000000;@header_cart_bg_color:#000000;@header_search_bg_color:#000000;@header_dropdown_bg_color:#000000;@header_bg_position:~"0 0";@header_bg_repeat:repeat;@header_bg_file:~"";@header_text_color:#ffffff;@header_text_hover_color:#ffffff;@header_cart_text_color:#ffffff;@header_dropdown_text_color:#ffffff;@header_search_text_color:#ffffff;@header_line_color:#000000;
