<?php /** @var Croydon\Efecty\Block\Index $block */ ?>
<div class="row">
    <div class="col-md-24 col-lg-24 col-24">
        <h2 class="title-payu">¡TU PEDIDO HA SIDO FACTURADO!</h2>
        <br/>
        <div class="row">
            <div class="col-md-11"><h3 class="title-2-payu">SOLO FALTA QUE REALICES TU PAGO</h3></div>
            <div class="col-md-13"><img
                        src="<?php echo $block->getUrl("pub/media/wysiwyg/") ?>PENDIENTE.png" class="img-baloto"/>
            </div>
        </div>
        <p class="text-payu">A través de <strong>EFECTY</strong> siguiendo estos pasos</p>
        <ol class="list-gracias" type="1">
            <li class="text-payu">Dirigete a cualquier Efecty del país</li>
            <li class="text-payu">Al hacer el pago en Efecty, informa que es un pago para Croydon Colombia.</li>
            <li class="text-payu">EL número de referencia es tu número de cedula
                <strong><?= $block->escapeHtml($block->getDocument()) ?></strong></li>
            <li class="text-payu">El totál a pagar es: 
                <strong><?= $block->getTotal() ?></strong></li>
        </ol>
        <p class="text-payu"><strong>Recuerda :</strong></p>
        <p class="text-payu">- El tiempo de entrega empieza a correr una vez realices el pago en el punto de Efecty.</p>
        <p class="text-payu">-Ten en cuenta que una vez trasncurridas las 72 horas hábiles de haber creado tu
            <br/>
            pedido, este será cancelado automaticamente si no has realizado el pago.</p>
        <div class="linea-gracias"></div>
    </div>
</div>
