<?php /** @var \Croydon\Efecty\Block\Index $this */ ?>
<div class="gracias" style="margin-left: 2rem;">
    <p class="text-payu">Tu numero de factura es:<br/>
        <strong>123-1231241</strong></p>
    <p class="text-payu">Acabamos de enviarte la informacion de la factura a:<br/>
        <strong> XXXX- XXXXXXX</strong></p>
    <p class="text-payu">Dirección de envío:
        <br/>XXXX- XXXXXXX
        <br/><strong>XXXX- XXXXXXX | XXXX- XXXXXXX</strong></p>
    <div class="linea-gracias"></div>
    <h3 class="descripcion-payu"><strong>DESCRIPCIÓN DE TU COMPRA</strong></h3>
    <div class="row">
        <div class="col-md-2">
            <img class="gif-img"
                 src="<?php echo $block->getUrl("pub/media/wysiwyg/") ?>prueba-producto.jpg" />
        </div>
        <div class="col-md-10">
            <p>Calzado Vestta Gris Para Mujer</p>
            <p>AR22042-37</p>
        </div>
        <div class="col-md-2">
            <p class="cantidad-payu">Cantidad: 2</p>
            <p class="precio-payu"><strong>$89.800</strong></p>
        </div>

    </div>
    <div class="linea-gracias-2"></div>
    <div class="row">
        <div class="col-md-2">
            <img class="gif-img"
                 src="<?php echo $block->getUrl("pub/media/wysiwyg/") ?>prueba-producto.jpg"/>
        </div>
        <div class="col-md-10">
            <p>Calzado Vestta Gris Para Mujer</p>
            <p>AR22042-37</p>
        </div>
        <div class="col-md-2">
            <p class="cantidad-payu">Cantidad: 2</p>
            <p class="precio-payu"><strong>$89.800</strong></p>
        </div>

    </div>
    <div class="row fila-total">
        <div class="col-md-14 totales2">
            <div class="col-md-12 totales">
                <p><strong>Subtotal</strong></p>
                <p>Costos de envío</p>
                <p>Total sin impuestos</p>
                <p>Impuestos</p>
                <p><strong>Total pagado</strong></p>
            </div>
            <div class="col-md-2 totales-3">
                <p><strong>$129.700</strong></p>
                <p>$7.900</p>
                <p>$115.630</p>
                <p>$21.969</p>
                <p><strong>$137.600</strong></p>
            </div>
        </div>
    </div>
    <div class="linea-gracias"></div>
    <p class="register-info-text"><strong>Escribe una contraseña para terminar de crear tu cuenta <br/> y poder rastrear tu pedido</strong></p>

    <form class="form-inline">
        <div class="row">
            <div class="col-md-5">
                <label class="text-payu">Contraseña</label>
                <input type="text" readonly class="form-control-plaintext" placeholder="email@example.com">
            </div>
            <div class="col-md-5">
                <label class="text-payu">Confirmar contraseña</label>
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="col-md-14">
                <button type="submit" class="ingreso">TERMINAR</button>
            </div>
        </div>
    </form>
    <div class="linea-gracias adicional-linea"></div>
    <p class="title-form-1">ENCUESTA DE SATISFACCIÓN</p>
    <p class="register-info-text"><strong>En una escala de 0 a 10 ¿Que probabilidad hay que <br/> tu recomiendes a Croydon a un familiar o
            amigo?</strong></p>
    <form class="form-encuesta">
        <div class="row">
            <button class="col-md-1 encuesta" style="background-color: #676767">0</button>
            <button class="col-md-1 encuesta" style="background-color: #717171">1</button>
            <button class="col-md-1 encuesta" style="background-color: #7a7a7a">2</button>
            <button class="col-md-1 encuesta" style="background-color: #7e7e7e">3</button>
            <button class="col-md-1 encuesta" style="background-color: #797979">4</button>
            <button class="col-md-1 encuesta" style="background-color: #6e6e6e">5</button>
            <button class="col-md-1 encuesta" style="background-color: #555555">6</button>
            <button class="col-md-1 encuesta" style="background-color: #4a4a4a">7</button>
            <button class="col-md-1 encuesta" style="background-color: #4a4a4a">8</button>
            <button class="col-md-1 encuesta" style="background-color: #313131">9</button>
            <button class="col-md-1 encuesta" style="background-color: #000000">10</button>
        </div>
        <br/>
        <p class="register-info-text"><strong>Cuéntanos por qué pusiste esa<br/>nota</strong></p>
        <div class="row opciones">
            <div class="col-md-8">
                <label>Escoge una de las siguientes razones.</label>
                <select name="opciones">
                    <option value="" selected>Seleccion una opción</option>
                </select>
            </div>

            <div class="col-md-6">
                <button type="submit" name="enviar" class="ingreso-envio">ENVIAR</button>
            </div>
        </div>

    </form>

</div>
