<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */

?>
<div class="general newsletter">
    <div class="block newsletter">
        <!--div class="title"><strong><?php /* @escapeNotVerified */
        echo __('Newsletter') ?></strong></div-->
        <div class="row">
            <div class="col-md-10 col-lg-10 col-sm-10 col-24">
                <p class="text">Suscríbete a nuestro boletín y recibe un 15% OFF para tu compra</p>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-24">
                <form class="form subscribe"
                      novalidate
                      action="<?php echo $block->escapeUrl($block->getFormActionUrl()) ?>"
                      method="post"
                      data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                      id="newsletter-validate-detail">
                    <!--?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?-->
                    <!--?php echo $_gender->toHtml() ?-->
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-24">
                            <div class="field newsletter">
                                <label class="label"
                                       for="newsletter"><span><?php echo $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?></span></label>
                                <div class="control">
                                    <input name="email" type="email" id="newsletter"
                                           placeholder="<?= $block->escapeHtmlAttr(__('Tu correo electronico')) ?>"
                                           data-validate="{required:true, 'validate-email':true}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-24">
                            <div class="actions">
                                <!--button class="action subscribe primary" title="<?php echo $block->escapeHtmlAttr(__('Subscribe')) ?>"
                        type="submit">
                    <span><?php echo $block->escapeHtml(__('Subscribe')) ?></span>
                </button-->
                                <button type="submit" name="gender" value="2" class="btn btn-dark">Soy Mujer</button>
                                <button type="submit" name="gender" value="1" class="btn btn-dark">Soy Hombre</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-20 col-lg-20 col-sm-20 col-24 terms">
                            <div class="row">
                                <div class="col-md-22 col-lg-22 col-sm-22 text-right">
                                    <label for="terms">
                                        Acepta, <a href="#" class="terms-link">Términos y condiciones</a> y
                                        <a href="#" class="terms-link">política de tratamiento de datos</a>
                                    </label>
                                </div>
                                <div class="col-md-2 col-lg-2 col-sm-2">
                                    <input id="terms" type="checkbox" name="terms"
                                           data-validate="{required:true, 'validate-one-required-by-name':true}">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>