@page_bg_color:#f2f2f2;@page_bg_file:~"http://192.168.1.8/em0144_everything/pub/media/emthemes/themesettings/background/bkg-box.jpg";@page_bg_position:~"center 0";@page_bg_repeat:no-repeat;@page_bg_attachment:inherit;@box_shadow:~"0 0 5px #ffffff";@rounded_corner:5px;
