.product-item-photo .click-button:before {
    left: 80% !important;
    top: -8px !important;
    content: '\f044' !important;
    color: #0f3e9b;
    display: block !important;
}

.product-item-photo:hover .click-button:before {
    content: '\f044' !important;
    font-weight: bold !important;
}

.minicart-wrapper.flyingcart-minicart-bottom .emthemes-flyingcart .block-content .flyingcart-items-wrapper .minicart-items .product-item.flyingcart-show-tooltip a.product-item-photo {
    border: 1px solid #0f3e9b;
    font-weight: bold !important;
}

.minicart-wrapper.flyingcart-minicart-bottom .emthemes-flyingcart .block-content .flyingcart-items-wrapper .minicart-items .product-item.flyingcart-show-tooltip a.product-item-photo .click-button:before {
    font-weight: bold !important;
}