<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<div class="block block-customer-login c-login">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?php /* @escapeNotVerified */
            echo __('CLIENTES REGISTRADOS') ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?php /* @escapeNotVerified */
              echo $block->getPostActionUrl() ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <fieldset class="fieldset login" data-hasrequired="">
                <div class="span-required">
                    <span class="required-fields text-right text-danger"><?php /* @escapeNotVerified */
                        echo __('* Campos obligatorios') ?></span>
                </div>
                <!--div class="field note"><?php /* @escapeNotVerified */
                echo __('Si usted  tiene una  cuenta, ingrese  su correo electronico.') ?></div-->
                <div class="field email required">
                    <div class="control">
                        <label class="label" for="email"
                               style="width: 33%;float: left;margin-top: 8px;"><span><?php /* @escapeNotVerified */
                                echo __('Correo:') ?></span></label>
                        <input name="login[username]"
                               value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off"<?php endif; ?>
                               id="email" type="email" class="input-text" title="<?php /* @escapeNotVerified */
                        echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR…zncxwOB05YLBZ8Pg83BajOjEilummEuVeFmtssvgJurPYHGEKbZ/T0eqIAAAAASUVORK5CYII=); background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;width: 67%;">
                    </div>
                </div>
                <div class="field password required">
                    <div class="control">
                        <label for="pass" class="label"
                               style="width: 33%;float: left;margin-top: 8px;"><span><?php /* @escapeNotVerified */
                                echo __('Contraseña') ?></span></label>
                        <input name="login[password]"
                               type="password" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off"<?php endif; ?>
                               class="input-text" id="pass" title="<?php /* @escapeNotVerified */
                        echo __('Password') ?>" data-validate="{required:true, 'validate-password':true}" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR…zncxwOB05YLBZ8Pg83BajOjEilummEuVeFmtssvgJurPYHGEKbZ/T0eqIAAAAASUVORK5CYII=); background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;width: 67%;">
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
                <div class="container-remember">
                    <div class="row">
                        <div class="col-md-14 col-lg-14 col-sm-14">
                            <div class="form-group">
                                <label for=""><input type="checkbox"> No cerrar sesión</label>

                            </div>
                        </div>
                        <div class="col-md-10 col-lg-10 col-sm-10">
                            <div class="secondary"><a class="action remind" href="<?php /* @escapeNotVerified */
                                echo $block->getForgotPasswordUrl() ?>"><span><?php /* @escapeNotVerified */
                                        echo __('¿Olvidaste  tu contraseña?') ?></span></a></div>
                        </div>
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary" style="width: 100%; margin-top: 2%;">
                        <button type="submit" class="action login primary" name="send" id="send2" style="width: 100%;">
                            <span><?php /* @escapeNotVerified */
                                echo __('ENTRAR') ?></span></button>
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary" style="width: 100%; margin-top: 2%;">
                        <button type="submit" class="action login primary" name="send" id="send2" style="width: 100%;background-color: #0d5aa7;border-color: #0c67b4">
                            <span><?php /* @escapeNotVerified */
                                echo __('Ingresa con Facebook') ?></span></button>
                    </div>

                </div>
                <div class="actions-toolbar">
                    <div class="primary" style="width: 100%; margin-top: 2%;">
                        <button type="submit" class="action login primary" name="send" id="send2" style="width: 100%;
    background-color: #DD2A7B;
    border-color: #DD2A7B;
    color: white;">
                            <span><?php /* @escapeNotVerified */
                                echo __('Ingresa con Instagram') ?></span></button>
                    </div>

                </div>
                <br/>
                <br/>
            </fieldset>
        </form>
    </div>
</div>
