<?php /** @var \Croydon\Theme\Block\Header $block */ ?>

<ul class="header-nav-images">
    <li>
        <img src="<?php echo $block->getUrl("pub/media/emthemes/themesettings/header/") ?>IMPULSADORES-DE-COMPRA(MEDIOS-DE-PAGO).png"/>
    </li>
    <li>
        <img src="<?php echo $block->getUrl("pub/media/emthemes/themesettings/header/") ?>IMPULSADORES-DE-COMPRA(SEGURA).png"/>
    </li>
    <li>
        <img class=""
             src="<?php echo $block->getUrl("pub/media/emthemes/themesettings/header/") ?>IMPULSADORES-DE-COMPRA(ENVIOS).png"/>
    </li>
    <li>
        <img src="<?php echo $block->getUrl("pub/media/emthemes/themesettings/header/") ?>IMPULSADORES-DE-COMPRA(CABMBIOS).png"/>
    </li>
    <li class="link-login">
        <a href="<?= $block->getUrl('customer/account/login'); ?>" class="">
            <span class="icon-unlock"></span>
            <span>Inicia sesión<br>Registrate</span>
        </a>
    </li>
</ul>