<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="checkout-resume">
    <div class="opc-block-summary" data-bind="blockLoader: isLoading">
        <span data-bind="i18n: 'Order Summary'" class="title"></span>
        <!-- ko foreach: elems() -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

    </div>
    <div class="col-md-24">
        <div class="row">
            <div class="col-md-4" style="text-align: right;">
                <img class="headset" src="/media/wysiwyg/operator-1-icon.png" alt="">
            </div>
            <div class="col-md-20">
                <p class="texto-asesoria"> Asesoría telefónica (01 8000 413536)</p>
            </div>
        </div>

        <img class="compra-segura" src="/media/wysiwyg/compra100segura.png" alt="">
    </div>
</div>