.social-icons {
    right: 0;
    position: fixed;
    top: 300px;
    width: 45px;
    z-index: 9999;
}

.social-icon {
    background-color: #000;
    background-image: url('../../images/social-icons.png');
}

#facebook-btn span {
    background-position: 12px 10px;
}

#linkedin-btn span {
    background-position: 12px -266px;
}

#twitter-btn span {
    background-position: 12px -35px;
}

#youtube-btn span {
    background-position: 12px -226px;
}

#pintrest-btn span {
    background-position: 12px -177px;
}

#google-btn span {
    background-position: 12px -127px;
}

#instagram-btn span {
    background-position: 10px -300px;
}

#flickr-btn span {
    background-position: 10px -335px;
}

#web-btn span {
    background-position: 10px -403px;
}

#mail-btn span {
    background-position: 10px -369px;
}

.social-icon {
    transition: background-color 0.4s ease-in 0s;
    -webkit-transition: background-color 0.4s ease-in 0s;
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 43px;
    margin-bottom: 2px;
    width: 43px;
}

.social-icon:hover {
    width: 150px;
    animation-duration: .7s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        width: 43px;
    }

    to {
        width: 150px;
    }
}

.social-icons a:hover {
    text-decoration: none;
}

#facebook-btn:hover .social-icon {
    background-color: #000;
}

#linkedin-btn:hover .social-icon {
    background-color: #6eb8da
}

#twitter-btn:hover .social-icon {
    background-color: #62BDB2;
}

#google-btn:hover .social-icon {
    background-color: #DB4A39;
}

#pintrest-btn:hover .social-icon {
    background-color: #D43638;
}

#youtube-btn:hover .social-icon {
    background-color: #000;
}

#instagram-btn:hover .social-icon {
    background-color: #000;
}

#flickr-btn:hover .social-icon {
    background-color: #E4006B;
}

#web-btn:hover .social-icon {
    background-color: #000;
}

#mail-btn:hover .social-icon {
    background-color: #2A056F;
}

.social-text {
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin: 14px 0 11px 44px;
    white-space: nowrap;
    color: #FFFFFF;
    font-family: Arial;
}