<?php
/** @var \Eadesigndev\RomCity\Block\Checkout\Cities $block */
?>

<div class="pp-buttons-container">

    <?php
    $cities = $block->citiesJson();
    ?>
</div>
<script>
    require(
        [
            'jquery'
        ],
        function ($) {
            $eaCitiesJson = <?php echo $cities?>;
        });
</script>
<?php //echo $cities; ?>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "addressValidation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */
    $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */
    $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int)$block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */
    $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }






</script>

