.quickshop-wrapper .quickshop-tabs {
    width: 47%;
    float: right;
}

.quickshop-wrapper .quickshop-tabs .qs-content {
    width: 100%;
}

.quickshop-wrapper .quickshop-media.product.media {
    width: 50%
}

.quickshop-wrapper .bundle-options-container .product-add-form {
    display: block;
}

.product-item-info .qs-btn-container {
    position: absolute;
    top: 30%;
    z-index: 10000;
    width: 100%;
    text-align: center;
}

.product-item-info {
    position: relative;
}

.product-item-info .qs-btn-container {
    position: absolute;
    top: 30%;
    z-index: 2;
    width: 100%;
    text-align: center;
    left: -4.5px;
}

/*.products-grid a.qs-button {padding: 10px 15px; display:none; border: 1px solid #1979C3; background: #1979c3; color: white; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:600;font-size: 13px;box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.3); line-height: 13px;}
.products-grid .product-item:hover a.qs-button {display:inline-block; transition: all 500ms;-webkit-transition: all 500ms;}
.products-grid .product-item:hover a.qs-button:hover  {background:#006bb4;  color: white; -webkit-transition: all 500ms; transition: all 500ms; text-decoration: blink;}*/
.quickshop-modal {
    width: 100%;
}

.qs-loading-wrap {
    text-align: center;
    min-height: 400px;
    display: table;
    width: 100%;
}

.qs-loader {
    display: table-cell;
    vertical-align: middle;
}

@media (min-width: 0px) and (max-width: 991px) {
    .quickshop-wrapper .quickshop-media.product.media {
        width: 100%;
    }

    .quickshop-wrapper .quickshop-tabs {
        width: 100%;
    }

    .quickshop-wrapper .product.data.items {
        display: inline;
    }

    .quickshop-wrapper .product.info.detailed .data.item.title {
        background: #F7F7F7;
    }
}

.fotorama__caption {
    display: none !important;
}

.modal-popup .modal-header {
    padding-top: 0 !important;
}

.product.data.items > .item.title:not(.disabled) > .switch:active, .em-tabs > .item.title:not(.disabled) > .switch:active, .product.data.items > .item.title.active > .switch, .em-tabs > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .em-tabs > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover, .em-tabs > .item.title.active > .switch:hover {
    color: #04349c !important;
}

.product.data.items > .item.title > .switch:hover, .em-tabs > .item.title > .switch:hover {
    color: #04349c !important;
}

.title-quickview {
    color: #000;
}

.croydon-sku {
    color: #000;
}

.product-info-main .product-info-price {
    border-bottom: none !important;
}

.swatch-attribute-selected-option {
    color: #04349c !important;
}

.swatch-opt {
    margin-top: 0 !important;
}

.qty-ctl button {
    background: #000;
}

.qty-ctl button:hover {
    background: #04349c;
    border-color: #04349c;
}

.content-metas .row {
    margin-top: 1rem;
}

.content-metas p {
    background: #ccc;
    color: #000;
    padding: .3rem;
}

.content-metas a:hover p {
    color: #04349c;
}

.quickview-title {
    color: #777575;
}

.social-buttons .row div {
    border: 1px solid;
    text-align: center;
}

.social-buttons .row div a:hover {
    color: #04349c;
}

.social-buttons {
    width: 70%;
    margin-left: 15%;
}

.data.item.content.qs-content.product-info-main {
    padding: 3rem !important;
}

.data.item.content.qs-content.product-info-detail {
    padding: 3rem !important;
}