<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <img data-bind="attr: {src: balotoImageSrc, alt: $t('Baloto'), height: '', width: '110' }"
             class="payment-icon"/>
        <!--label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label-->
    </div>
    <div class="payment-method-content">
        <ol>
            <li>Dirígete a cualqueir Vía Baloto del país.</li>
            <li>Indicarle al operador los datos que podrás descargar cuando finalices tu compra</li>
        </ol>
        <h3>Recuerda</h3>
        <p>- El tiempo de entrega empieza a correr una vez realices el pago en el punto Baloto</p>
        <p>- Ten en cuenta que una vez transcurridas las 72 horas hábiles de haber creado tu pedido,
            este será cancelado automáticamente</p>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: placeOrder,
                        attr: {title: $t('FINALIZAR COMPRA')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="i18n: 'FINALIZAR COMPRA'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
        