@page_bg_color:#ffffff;@page_bg_position:~"0 0";@page_bg_repeat:repeat;@page_bg_attachment:fixed;@box_shadow:~"0 0 5px #ffffff";@rounded_corner:5px;@page_bg_file:~"http://35.198.221.106/em0144_everything/pub/media/emthemes/themesettings/background/blank.gif";