<fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */
echo __('* Required Fields') ?>">
    <legend class="legend"><span><?php /* @escapeNotVerified */
            echo __('Documento') ?></span></legend>
    <div class="field regulation required">
        <label for="regulation" class="label"><span><?php /* @escapeNotVerified */
                echo __('Número de documento') ?></span></label>
        <div class="control">
            <input type="text" name="document_number" id="document_number" title="<?php /* @escapeNotVerified */
            echo __('Número de documento') ?>" class="input-text" required data-validate="{required:true}">
        </div>
    </div>
    <div class="field regulation required">
        <label for="regulation" class="label"><span><?php /* @escapeNotVerified */
                echo __('Tipo de documento') ?></span></label>
        <div class="control">
            <select name="document_type" id="document_type" required data-validate="{required:true}">
                <option value=""></option>
                <option value="cc">Cédula de ciudadanía</option>
                <option value="ce">Cédula Extranjera</option>
            </select>
        </div>
    </div>
</fieldset>