<?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getModuleStatus() != 0) : ?>
    <?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getJsStatus() != 0) :
        ?>
        <!--script src="<?php echo $this->getViewFileUrl('Helios_Hssocialmedia::js/hsmedia/jquery.js'); ?>"></script>
        <script src="<?php echo $this->getViewFileUrl('Helios_Hssocialmedia::js/hsmedia/hssocial.js'); ?>"></script-->
    <?php else: ?>
        <!--script src="<?php echo $this->getViewFileUrl('Helios_Hssocialmedia::js/hsmedia/hssocial.js'); ?>"></script-->
    <?php endif; ?>
    <?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getButtonPosition() == 2) : ?>
        <link rel="stylesheet" type="text/css"
              href="<?php echo $this->getViewFileUrl('Helios_Hssocialmedia::css/hsmedia/hsmedia-left.css'); ?>"
              media="all"/>
    <?php endif; ?>
    <?php
    if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getMargin() != ''):
        $margin = "style=margin-top:" . $this->helper('Helios\Hssocialmedia\Helper\Data')->getMargin() . "px";
    else :
        $margin = "";
    endif;
    ?>
    <div class="social-icons" <?php echo $margin; ?>>
        <?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getFacebookUrl() != ''): ?>
            <a class="socialitems" target="_blank"
               href="<?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getFacebookUrl(); ?>"
               id="facebook-btn">
                <span class="social-icon">
                    <span
                            class="social-text"><?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getFacebookTitle() ?></span>
                </span>
            </a>
        <?php endif; ?>
        <?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getLinkidinUrl() != ''): ?>
            <a class="socialitems" target="_blank"
               href="<?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getLinkidinUrl() ?>"
               id="linkedin-btn">
                <span class="social-icon">
                    <span
                            class="social-text"><?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getLinkidinTitle() ?></span>
                </span>
            </a>
        <?php endif; ?>
        <?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getTwitterUrl() != ''): ?>
            <a class="socialitems" target="_blank"
               href="<?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getTwitterUrl() ?>"
               id="twitter-btn">
                <span class="social-icon">
                    <span
                            class="social-text"><?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getTwitterTitle() ?></span>
                </span>
            </a>
        <?php endif; ?>
        <?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getYoutubeUrl() != ''): ?>
            <a class="socialitems" target="_blank"
               href="<?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getYoutubeUrl() ?>"
               id="youtube-btn">
                <span class="social-icon">
                    <span
                            class="social-text"><?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getYoutubeTitle() ?></span>
                </span>
            </a>
        <?php endif; ?>
        <?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getGoogleUrl() != ''): ?>
            <a class="socialitems" target="_blank"
               href="<?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getGoogleUrl() ?>"
               id="google-btn">
                <span class="social-icon">
                    <span
                            class="social-text"><?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getGoogleTitle() ?></span>
                </span>
            </a>
        <?php endif; ?>
        <?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getPinterestUrl() != ''): ?>
            <a class="socialitems" target="_blank"
               href="<?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getPinterestUrl() ?>"
               id="pintrest-btn">
                <span class="social-icon">
                    <span
                            class="social-text"><?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getPinterestTitle() ?></span>
                </span>
            </a>
        <?php endif; ?>
        <?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getInstagramUrl() != ''): ?>
            <a class="socialitems" target="_blank"
               href="<?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getInstagramUrl() ?>"
               id="instagram-btn">
                <span class="social-icon">
                    <span
                            class="social-text"><?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getInstagramTitle() ?></span>
                </span>
            </a>
        <?php endif; ?>
        <?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getFlickrUrl() != ''): ?>
            <a class="socialitems" target="_blank"
               href="<?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getFlickrUrl() ?>"
               id="flickr-btn">
                <span class="social-icon">
                    <span
                            class="social-text"><?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getFlickrTitle() ?></span>
                </span>
            </a>
        <?php endif; ?>
        <?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getWebUrl() != ''): ?>
            <a class="socialitems" target="_blank"
               href="<?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getWebUrl() ?>"
               id="web-btn">
                <span class="social-icon">
                    <span
                            class="social-text"><?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getWebTitle() ?></span>
                </span>
            </a>
        <?php endif; ?>
        <?php if ($this->helper('Helios\Hssocialmedia\Helper\Data')->getMailUrl() != ''): ?>
            <a class="socialitems" target="_blank"
               href="mailto:<?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getMailUrl() ?>"
               id="mail-btn">
                <span class="social-icon">
                    <span
                            class="social-text"><?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getMailTitle() ?></span>
                </span>
            </a>
        <?php endif; ?>
    </div>
    <!--script>
        $mtkb(window).load(function () {
            $mtkb('.social-icons .social-icon').mouseenter(function () {
                $mtkb(this).stop();
                $mtkb(this).animate({width: '160'}, 500, '<?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getEffect(); ?>', function () {
                });
            });
            $mtkb('.social-icons .social-icon').mouseleave(function () {
                $mtkb(this).stop();
                $mtkb(this).animate({width: '43'}, 500, '<?php echo $this->helper('Helios\Hssocialmedia\Helper\Data')->getEffect(); ?>', function () {
                });
            });
        });
    </script-->
<?php endif; ?>