<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View
 */
?>


<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();
//$_settingHelper = $this->helper('Emthemes\ThemeSettings\Helper\Data');
if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php
if ($_attributeValue): ?>
    <?php if ($_code == 'sku'): ?>
        <!--h3><?= __(strtoupper($_product->getName())) ?></h3-->
        <div class="product attibute <?php /* @escapeNotVerified */
        echo $_className ?>">
            <div class="value" <?php /* @escapeNotVerified */
            echo $_attributeAddAttribute; ?>><?php /* @escapeNotVerified */
                echo $_attributeValue; ?></div>
        </div>
    <?php else: ?>
        <div class="product attibute <?php /* @escapeNotVerified */
        echo $_className ?>">
            <?php if ($_attributeLabel != 'none'): ?>
                <span class="point-icon"></span>
                <p class="type">
                <?php /* @escapeNotVerified */
                echo $_attributeLabel ?></p><?php endif; ?>
            <div class="value" <?php /* @escapeNotVerified */
            echo $_attributeAddAttribute; ?>><?php /* @escapeNotVerified */
                echo $_attributeValue; ?></div>
        </div>
    <?php endif ?>
    <?php /*if($_code == 'sku'): ?>
            <?php if($_settingHelper->getConfig('product_detail/detail_element/show_sku')==1) : ?>
            <div class="product attibute <?php echo $_className?>">
                <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php  echo $_attributeLabel?></strong><?php endif; ?>
                  <div class="value" <?php echo $_attributeAddAttribute;?>><?php  echo $_attributeValue; ?></div>
            </div>
            <?php /*endif; ?>
      <?php else:*/ ?>
<?php endif; ?>
<?php //endif; ?>