<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View
 * @var \Croydon\Theme\Block\Catalog $block
 */
?>


<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
/** @var \Magento\Catalog\Model\Product\Interceptor $_product */
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();
//$_settingHelper = $this->helper('Emthemes\ThemeSettings\Helper\Data');
if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>
<?php
if ($_attributeValue): ?>
    <?php /*if($_code == 'sku'): ?>
            <?php if($_settingHelper->getConfig('product_detail/detail_element/show_sku')==1) : ?>
            <div class="product attibute <?php echo $_className?>">
                <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php  echo $_attributeLabel?></strong><?php endif; ?>
                  <div class="value" <?php echo $_attributeAddAttribute;?>><?php  echo $_attributeValue; ?></div>
            </div>
            <?php /*endif; ?>
      <?php else:*/ ?>
    <div class="product attibute <?php /* @escapeNotVerified */
    echo $_className ?>">
        <div class="row">
            <div class="col-lg-24 col-sm-24 col-xs-24">
                <div class="block-title title">
                    <strong id="block-related-heading" role="heading" aria-level="2">DETALLES DEL PRODUCTO</strong>
                </div>
                <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */
                    echo $_attributeLabel ?></strong><?php endif; ?>
                <div class="value" <?php /* @escapeNotVerified */
                echo $_attributeAddAttribute; ?>><?php /* @escapeNotVerified */
                    echo $_attributeValue; ?></div>
            </div>
            <div class="col-lg-24 col-sm-24 col-xs-24 information">
                <span><strong><?= __('Información') ?></strong></span>
                <table>
                    <?php if (!is_null($_product->getCustomAttribute('genero'))): ?>
                        <tr>
                            <td>Genero</td>
                            <td><?= ucfirst($_product->getAttributeText('genero')) ?></td>
                        </tr>
                    <?php endif ?>
                    <?php if (count($block->getChildProducts()) > 0): ?>
                        <tr>
                            <td>Color</td>
                            <td><?= implode(', ', $block->getChildProducts()) ?></td>
                        </tr>
                    <?php endif ?>
                </table>
            </div>
            <?php $categories = $block->getCategories() ?>
            <?php if ($categories->count() > 0): ?>
                <div class="col-lg-24 col-sm-24 col-xs-24 content-metas">
                    <span><strong><?= __('Ver Más') ?></strong></span>
                    <?php /** @var \Magento\Catalog\Model\Category\Interceptor $category */ ?>
                    <?php $counter = 0; ?>
                    <?php foreach ($categories as $category): ?>
                        <?php if ($counter == 4) break; ?>
                        <?php try { ?>
                            <a href="<?= ($category->getUrl()) ?>">
                                <p class="meta">
                                    <?= $block->escapeHtml($block->getCategory($category)->getName()) ?>
                                </p>
                            </a>
                        <?php } catch (Exception $e) { ?>
                        <?php } ?>
                        <?php $counter++; ?>
                    <?php endforeach; ?>
                </div>
            <?php endif ?>
        </div>
    </div>
<?php endif; ?>
<?php //endif; ?>