
<div class="page-title-wrapper product">
    <h1 class="page-title">
    <span class="base" data-ui-id="page-title-wrapper" itemprop="name">
    	<?= $block->escapeHtml($block->getProduct()->getName()) ?>		
    </span>    
    </h1>
</div>