<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_product = $block->getProduct();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<div class="social-buttons">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-8 col-8">
            Compartir
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-8 social-item">
            <a href="https://api.addthis.com/oexchange/0.8/forward/facebook/offer?url=<?php echo $_helper->productAttribute($_product, $_product->getProductUrl(), 'product_url'); ?>&amp;title=<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>"
               target="_blank">
                <span class="icon-facebook fa fa-facebook"></span>
            </a>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8 col-8 social-item share">
            <a class="custom-tooltip" href="#" id="link-to-copy"
               data-content="Some content inside the popover">
                <span class="icon-facebook fa fa-share-square"></span>
                <span class="custom-tooltiptext">El enlace se ha copiado en el portapapeles</span>
            </a>
        </div>
    </div>
</div>
<div id="copy">
    <br>
    <textarea
            id='copy-clipboard'><?= $_helper->productAttribute($_product, $_product->getProductUrl(), 'product_url'); ?></textarea>
</div>
<script>

    require(['jquery'], function ($) {
        $('#copy').hide();
        $('#copy-clipboard').hide();
        $('#link-to-copy').click(function (e) {
            e.preventDefault();
            $('#copy').show();
            $('#copy-clipboard').show();
            /* Get the text field */
            var copyText = document.getElementById("copy-clipboard");
            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/
            /* Copy the text inside the text field */
            document.execCommand("copy");

            $('.custom-tooltiptext').show();
            setTimeout(function () {
                $('#copy').hide();
                $('#copy-clipboard').hide();
                $('.custom-tooltiptext').hide();
            }, 3000);
        });
    });
</script>
<style>
    .custom-tooltip {
    }

    .custom-tooltip .custom-tooltiptext {
        display: none;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        /* transition: visibility 5s; */
        margin-top: 3rem;
        /* margin-right: 3rem; */
        margin-left: -6rem;
    }

</style>
