.header.panel > .header.links > li > a:visited {
    color: #000000 !important;
    text-decoration: none !important;
}

.header.links li.info > a:before {
    content: "\f023";
}

.registration-link {
    content: "" !important;
}

@media (min-width: 768px) {
    print.nav-sections-item-content {
        display: block !important;
        margin-top: -21px;
    }

    print
    .em-header-14.page-header .header.panel.right {
        float: right;
        padding-right: 0;
        margin-right: 83px;
    }

    .em-wrapper-ads-14.style01 {
        background-image: url('/pub/media/wysiwyg/banner--categoria.jpg');
    }
}

.em-newsletter-style02 .block.newsletter .content .action.subscribe {
    padding: 13px 20px;
    border-style: solid;
    border-width: 2px;
    margin: 0;

    background-color: black;
}

.ms-layer.ms-caption {
    width: 100% !important;
    top: 12% !important;
    left: 0 !important;

}

.register-info {
    margin-left: 30px !important;

}


.header.links > li {
    height: 51px !important;
}

li.authorization-link.log-in {
    padding-top: 1% !important;
    width: 18% !important;
    margin-left: -8% !important;
    margin-right: 7% !important;
}

li.registration-link {
    width: 15% !important;
    padding-top: 1% !important;
    margin-right: 7% !important;
}

li.item.link.compare {
    width: 15% !important;
    padding-top: 1% !important;
    margin-right: 7% !important;

}

li.link.wishlist {
    width: 13% !important;
    padding-top: 1% !important;
}

li.info {
    content: "\f023";
}

button.action.search.primary {
    background-color: #8a8989 !important;
}

.em-menu-content li.level0 {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 14px;
}

span.counter.qty.empty {
    background: #00309D !important;
}

span.counter-number {
    background-color: #00309D !important;
}

.ms-bullet.ms-bullet-selected {
    margin: 5px;
    border-radius: 15px;
    border: none;
    width: 20px;
    height: 20px;
}

.em-line-10 .em-block-title:after, .em-line-10 .em-widget-title:after, .em-line-10 .block-title:after, .em-line-10 .widget-title:after {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 100%;
    border-top: none;
}

.page-main .widget .block-title strong {
    color: #000;
    font: 700 28px/1.35 Muli, sans-serif;
    border-bottom: 3px solid #25388e;
    text-transform: uppercase;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -1px;
    font-size: 1.5rem;
}

.em-wrapper-ads-10 .em-box .link-more {
    font-weight: bold;
    color: #04349c;
    text-decoration: none;
}

.footer-info {
    margin-bottom: 0 !important;
}

.em-line-01 .em-block-title:after {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 100%;
    border-top: 1px dashed #000;

}

.menuc {
    background-color: white !important;
    color: white !important;
}

.menuc2 {
    padding: 49px !important;
}


.menuc2 h1 span a:hover {
    color: #00309d !important;

}

.menuc2 p span a:hover {
    color: #00309d !important;

}

.menuc2 h1 span a {
    color: black !important;

}

.menuc2 p span a {
    color: black !important;

}

.menuc2 a span {
    color: black;

}

.menuc2 a:hover span {
    color: #00309d !important;

}


.header.content.navbar-fixed-top .em-search-icon.mobile-search-icon {
    background-color: #73737b !important;
    display: block;
    top: 9px;
}

.dropmenu-content {
    padding: 5px;
}

.blogger .owl-nav {
    right: 45.2% !important;
    position: absolute !important;
    top: 36px !important;
}

/*
.collapsible {

  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

*/

.content-collap {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    padding-top: 8px !important;
}

.collapsible:hover {
    width: 54%;
    border-radius: 7%;
    padding-left: 3% !important;
    padding-bottom: 3% !important;
    background-color: #00309d !important;
    color: white !important;

}

.menuc2 .collapsible:hover a span {
    color: white !important;

}

.collapsible::before {
    display: flex;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 40%;
    margin-bottom: -15px;
    content: "\f078";


}


.actions-secondary .action {

    border-color: #000 !important;
    background-color: #000 !important;
}

.collapsible:hover::before {
    display: flex;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 82%;
    padding-top: 6px;
    margin-bottom: -11px;
    content: "\f077";
}

.products-grid .product-item-info {
    border: none !important;
    border-radius: none !important;
}


a.qs-button {
    border-color: #000 !important;
    background-color: #000 !important;
}

button.action.tocart.primary {
    background: #000 !important;
    border-color: #000 !important;

}

button.tocart.primary:hover {
    color: #ffffff !important;
}

.product-item-name > a:hover {
    color: #04349c !important;
    text-decoration: none;
}

.page-footer a:hover {
    color: #04349c !important;
}

.menuc2 .ofertas a span {
    color: red !important;

}

.menuc2 .nuevos a span {
    color: red !important;

}

.page-title-wrapper {
    text-align: center;
    margin-left: 25%;

}

.products-grid .product-item-info:hover {
    box-shadow: none !important;
    webkit-box-shadow: none !important;
}

span.percentage {
    position: absolute;
    top: -23rem;
    right: 2rem;
    background-color: red;
    color: white;
    font-size: 13pt;
    font-weight: bolder;
}

.gif-baloto {
    width: 37px;


}

.gif-img {
    width: 83px;


}

.gracias {
    color: black;

}

.comprobante {

    width: 33%;
    background-color: black !important;
}

.list-gracias {
    padding-left: 16px;
}

.info-gracias {
    padding-top: 1%;
}

.linea-gracias {
    border-bottom: 2px solid grey;
    width: 69rem;
    margin-bottom: 2%;
}

.linea-gracias-2 {
    border-bottom: 1px solid grey;
    width: 68rem;
    margin-bottom: 2%;
}

.ingreso {
    background-color: black !important;
    margin-top: 18px;
    width: 19rem;
}

.adicional-linea {
    margin-top: 12px;
}

.title-form-1::before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    content: "\f164";
}

.opciones {
    margin-bottom: 5rem;
}

.encuesta {
    border-radius: 0;
    border: none;
}

.encuesta:hover {
    background-color: #e0e0e0 !important;
    border-color: #e0e0e0;
    border-radius: 0;
    color: #ff7a7a;
}

.ingreso-envio {
    background-color: grey !important;
    border-color: grey;
    margin-top: 18px;
    margin-left: 8.6rem;
    width: 20rem;
}

.totales {
    margin-left: 22rem;
    text-align: right;
    font-size: 1.8rem;
}

.totales-3 {
    text-align: right;
    margin-left: 1.2rem;
    width: 9rem;
    font-size: 1.8rem;
    padding-right: 0;
    margin-right: 0;
}

.totales2 {
    background-color: #eaeaea;
    margin-bottom: 2rem;
    padding-top: 17px;
    padding-bottom: 2rem;
}

.final-gracias {
    margin-bottom: 34px;
}

.subtitle1 {
    color: black;
}

.create-croydon {
    color: black;
}

.asterisk-create {
    color: red;
}

.check-customer {
    margin-left: 20rem !important;
}

.button-create-user {
    width: 58rem !important;
    margin-top: -7rem !important;
    background-color: black !important;
}

.register-info-data {
    border-left: 2px solid grey;
    padding-left: 23px;
}

.account-social-login {
    position: absolute;
    top: 45rem;
}

.c-login {
    width: 100% !important;
}

/* informacion de gracias */
.title-payu {
    font-weight: bolder;
    font-size: 2.7rem;
}

.title-2-payu {
    font-weight: bolder;
    font-size: 2.2rem;
    margin-bottom: 0;
}

.img-payu {
    margin-left: -1rem;
    margin-top: -0.3rem;
    width: 3rem;
}

.text-payu {
    font-size: 1.6rem;
}

.descripcion-payu {
    margin-bottom: 34px;
    margin-top: -8px;
    font-size: 1.6rem;
}

.precio-payu {
    margin-left: 0.4rem;
    font-size: 1.8rem;
    margin-top: -2rem;
}

.register-info-text {
    font-size: 2.1rem;
}

.totales p {
    margin-bottom: 0rem;
}

.totales-3 p {
    margin-bottom: 0rem;
}

.form-encuesta {
    margin-left: 1rem;
}

.img-payu-x {
    margin-left: -4rem;
    margin-top: -0.3rem;
    width: 3rem;
}

.register-info-text-2 {
    font-size: 2.0rem;
}

.fila-total {
    margin-left: 0rem;
}

.img-baloto {
    margin-left: -13rem;
    margin-top: 0rem;
    width: 3rem;
}

.product-shop-top .actions-primary button.tocart.primary:hover {
    color: #ffffff !important;
    border-color: #04349c !important;
    background-color: #04349c !important;
}

.actions-secondary .action:hover, .table-comparison .action.towishlist:hover {
    color: #ffffff !important;
    border-color: #04349c !important;
    background-color: #04349c !important;
}

.products-list a.qs-button:hover, .products-grid a.qs-button:hover {
    color: #ffffff !important;
    border-color: #04349c !important;
    background-color: #04349c !important;
}

.tocart.action.primary:hover {
    color: #ffffff !important;
    border-color: #04349c !important;
    background-color: #04349c !important;
}

.minicart-wrapper.flyingcart-minicart-wrapper .emthemes-flyingcart .block-content .actions.flyingcart-checkout .action.primary.checkout {
    border-color: #000 !important;
    background-color: #000 !important;
}

.minicart-wrapper.flyingcart-minicart-wrapper .emthemes-flyingcart .block-content .actions.flyingcart-checkout .action.primary.checkout:hover {
    color: #ffffff !important;
    border-color: #04349c !important;
    background-color: #04349c !important;
}

.swatch-option.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

input#search {
    color: black;
}

.minisearch input{
    color: #000 !important;
}
button.ui-datepicker-trigger.v-middle {
    display: none;
}
.ui-datepicker .ui-datepicker-title .ui-datepicker-month {
    width: 47%;
    margin-right: 0%;
}
select.ui-datepicker-year {
    width: 52% !important;
}
.boton-popup2:hover{
    background-color: #00309d ;
}