<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Customer\Block\Account\AuthorizationLink */
$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
?>
<?php if($block->isLoggedIn()): ?>
    <li class="authorization-link <?php echo ($block->isLoggedIn()) ? 'log-out' : 'log-in' ?>" data-label="<?php echo $block->escapeHtml(__('or')); ?>" >
        <img src="<?php echo $block->getUrl("pub/media/emthemes/themesettings/header/")?>IMPULSADORES-DE-COMPRA(MEDIOS-DE-PAGO).png"/>
    </li>
<?php endif;?>

<li class="authorization-link <?php echo ($block->isLoggedIn()) ? 'log-out' : 'log-in' ?>" data-label="<?php echo $block->escapeHtml(__('or')); ?>" >
    <img src="<?php echo $block->getUrl("pub/media/emthemes/themesettings/header/")?>IMPULSADORES-DE-COMPRA(MEDIOS-DE-PAGO).png"/>
</li>
