<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Framework\View\Element\Html\Link
 */
?>
<?php if (!$block->getIsDisabled()): ?>
<li class="registration-link">
    <img src="<?php echo $block->getUrl("pub/media/emthemes/themesettings/header/")?>IMPULSADORES-DE-COMPRA(SEGURA).png"/>

</li>

<?php endif; ?>

