<!-- ko if: isDisplayedBalanceDiscount() -->
<tr class="totals balance-discount excl">
    <th class="mark" colspan="1" scope="row" data-bind="text: balance_discount"></th>
    <td class="amount">
        <span class="price" data-bind="text: getBalanceDiscount(), attr: {'data-th': balance_discount}"></span>
    </td>
</tr>
<!-- /ko -->