<?php /** @var \Croydon\Rating\Block\Frontend\Rating $block */ ?>
<?php if ($block->isAvailableForm()): ?>
    <div class="row">
        <div class="col-md-24 col-lg-24 col-24">
            <p class="title-form-1">ENCUESTA DE SATISFACCIÓN</p>
            <p class="register-info-text"><strong>En una escala de 0 a 10 ¿Que probabilidad hay que <br/> tu recomiendes
                    a
                    Croydon a
                    un familiar o
                    amigo?</strong></p>
            <form class="form-encuesta" id="form-encuesta" action="<?= $block->getPostUrl() ?>" method="post">
                <?php echo $block->getBlockHtml('formkey'); ?>
                <input type="hidden" id="custom_sales_order_entity_id" name="sales_order_entity_id"
                       value="<?= $block->getOrderId() ?>">
                <input type="hidden" id="rating" name="rating" value="-1">
                <div class="row">
                    <button type="button" value="0" class="col-md-1 encuesta" style="background-color: #676767">0
                    </button>
                    <button type="button" value="1" class="col-md-1 encuesta" style="background-color: #717171">1
                    </button>
                    <button type="button" value="2" class="col-md-1 encuesta" style="background-color: #7a7a7a">2
                    </button>
                    <button type="button" value="3" class="col-md-1 encuesta" style="background-color: #7e7e7e">3
                    </button>
                    <button type="button" value="4" class="col-md-1 encuesta" style="background-color: #797979">4
                    </button>
                    <button type="button" value="5" class="col-md-1 encuesta" style="background-color: #6e6e6e">5
                    </button>
                    <button type="button" value="6" class="col-md-1 encuesta" style="background-color: #555555">6
                    </button>
                    <button type="button" value="7" class="col-md-1 encuesta" style="background-color: #4a4a4a">7
                    </button>
                    <button type="button" value="8" class="col-md-1 encuesta" style="background-color: #4a4a4a">8
                    </button>
                    <button type="button" value="9" class="col-md-1 encuesta" style="background-color: #313131">9
                    </button>
                    <button type="button" value="10" class="col-md-1 encuesta" style="background-color: #000000">10
                    </button>
                </div>
                <p id="text-error-options" style="color: red">Debe seleccionar una opción</p>
                <br/>
                <!--<p class="register-info-text"><strong>Cuéntanos por qué pusiste esa<br/>nota</strong></p>-->
                <div class="row opciones">
                    <div class="col-md-24">
                        <p>¿Cuál es la principal razón por la que compras nuestros productos?</p>
                        <div>
                            <input required type="radio" name="reason" value="1">Diseño <br>
                            <input required type="radio" name="reason" value="2">Precio <br>
                            <input required type="radio" name="reason" value="3">Calidad
                        </div>
                    </div>
                    <div class="col-md-24">
                        <p>¿El producto que compraste corresponde a lo que buscaste inicialmente?</p>
                        <div>
                            <input required type="radio" name="product" value="1">Si <br>
                            <input required type="radio" name="product" value="0">No
                        </div>
                    </div>
                    <div class="col-md-24">
                        <p>¿Qué percepción tienes de nuestros productos?</p>
                        <div>
                            <input required type="radio" name="perception" value="1">Clásicos <br>
                            <input required type="radio" name="perception" value="2">Casuales <br>
                            <input required type="radio" name="perception" value="3">Moda
                        </div>
                    </div>
                    <div class="col-md-24">
                        <br>
                        <button type="submit">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<?php endif; ?>