<?php
/**
 * Filters
 * Copyright (C) 2019  mofosys technologies
 * 
 * This file is part of Mofosys/Filters.
 * 
 */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$stateFilter = $objectManager->create('\Magento\LayeredNavigation\Block\Navigation\State');
$selectedFilters = $stateFilter->getActiveFilters();
foreach ($selectedFilters as $filter) {
    $filter->getName(); // Filter name like Color, Size etc
    $name[] = $filter->getLabel(); // Filter value like Black, Blue, Small, Large etc
}
$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
$currency = $objectManager->create('Magento\Directory\Model\CurrencyFactory')->create()->load($currency);
$currencySymbol = $currency->getCurrencySymbol();
?>

<?php
$url = $this->helper('Mofosys\Filters\Helper\Data')->getCurrentUrl();
$currentUrl = substr($url, 0, strpos($url, '?'));
$helper = $this->helper('Mofosys\Filters\Helper\Data');
$searchBarOption = $helper->getSearchBarOption();
$outOfStackOption = $helper->getOutOfStockOption();
$seeMoreOption = $helper->getSeeMoreOption();
$seeMore = '';
if ($seeMoreOption == 1) {
    $seeMore = "5";
} elseif ($seeMoreOption == 2) {
    $seeMore = "10";
} elseif ($seeMoreOption == 3) {
    $seeMore = "15";
}
?>

<ol class="items">
    <?php foreach ($filterItems as $filterItem): ?>
        <?php
        $filterCode = $filterItem->getFilter()->getAttributeModel()->getAttributeCode();
        $filterName = preg_replace("/[^a-zA-Z0-9s]/", "", $filterItem->getName());
        $filter = $filterItem->getFilter();
        $attributeModel = $filter->getData('attribute_model');
        $inputName = $filter->getRequestVar();
        $getParamValue = $block->getRequest()->getParam($inputName);
        $requestArray = $getParamValue ? explode(',', $getParamValue) : [];
        $str = (string) $filterItem->getValue();
        if (strpos($getParamValue, $str) !== false) {
            $url1 = $filterItem->getRemoveUrl();
        } else {
            $url1 = $filterItem->getUrl();
        }
    endforeach;
    ?>
</ol>
<?php if ($filter instanceof Magento\CatalogSearch\Model\Layer\Filter\Price): ?>
    <?php $priceRange = $this->getRangeForPrice($filter); ?>
    <?php $priceUrlBefore = $this->getUrlForFilter($filter); ?>  

    <script>
    <?php $priceUrl = str_replace("%2C", ",", $priceUrlBefore); ?>
    <?php
    $currentUrl = substr($priceUrl, 0, strpos($priceUrl, '?'));
    ?>
        var currentUrl = "<?= $currentUrl; ?>";
        var myStr = "<?= $priceUrl; ?>";
        var afterPrince = myStr.match("price=(.*)");
        afterPrince = afterPrince[1];
        var url_for_slider = "<?= $currentUrl; ?>";
        require([
            'jquery',
            "jquery/ui",
            'domReady!'
        ], function ($) {
            // ...
            $("div#slider_demo").slider({
                range: true,
                min: <?= $priceRange['min'] ?>,
                max: <?= $priceRange['max'] ?>,
                values: [<?= $priceRange['min'] ?>, <?= $priceRange['max'] ?>],
                slide: function (event, ui) {
                    $("#price_slider").val("<?php echo $currencySymbol ?>" + ui.values[ 0 ] + " - <?php echo $currencySymbol ?>" + ui.values[ 1 ]);
                },
                change: function (event, ui) {
                    if (afterPrince) {
    //                        console.log(url_for_slider + '?price=' + ui.values[0] + "-" + ui.values[1] + afterPrince);
                        window.location.href = url_for_slider + '?price=' + ui.values[0] + "-" + ui.values[1] + afterPrince;

                    } else {
    //                        console.log(myStr + ui.values[0] + "-" + ui.values[1]);
                        window.location.href = myStr + ui.values[0] + "-" + ui.values[1];
                    }
                }
            });
            $("#price_slider").val("$" + $("#slider_demo").slider("values", 0) +
                    " - $" + $("#slider_demo").slider("values", 1));
        });
    </script>
    <?php ?>      
    <input type="text" class="slider" id="price_slider" readonly style=" border: none; text-align: center;cursor: pointer; ">
    <div id="slider_demo" style="width: 190px; margin: 0 auto; margin-left:3px;"></div>
    <br>
<?php endif; ?>
<?php if ($searchBarOption == 1 && $filterName != "Price") { ?>
    <input type="text" name="search" class="search filter_mofo_mob_hide" id="<?php echo $filterName ?>-seemore" onkeyup="search(this, '<?php echo $filterName . "_seemore1" ?>', '<?php echo $filterName ?>')" placeholder="Search Here"/>
<?php } ?>
<div id="navigation" class="filter_mofo_mob_hide">
    <ol class="items <?php echo $filterName ?>" id="<?php echo $filterName ?>">
        <?php $noOfItem = 0 ?>
        <?php foreach ($filterItems as $filterItem):
            ?>

            <?php
            $noOfItem++;
            $filterCode = $filterItem->getFilter()->getAttributeModel()->getAttributeCode();
            $filterName = preg_replace("/[^a-zA-Z0-9s]/", "", $filterItem->getName());
            ?>

            <?php
            if ($noOfItem > $seeMore) {
                break;
            };
            ?>
            <?php if ($filterName != "Price"): ?>
                <li class="item <?php echo $filterName ?>">
                    <?php if ($filterItem->getCount() > 0): ?>
                        <?php
                        $queryString = substr($filterItem->getUrl(), strpos($filterItem->getUrl(), '?'));
                        $urlSearch = $currentUrl . $queryString;
                        $urlFinal = str_replace("%2C", ",", $urlSearch);
                        ?>
                        <form>
                            <input class="pointer" type="checkbox" name="<?php $filterItem->getLabel(); ?>" id="<?php
                            echo strtolower(strip_tags($filterItem->getLabel())
                                    . '_' . $filterItem->getValue())
                            ?>"
                                   onchange="toggleFilterItemInUrl(event, '<?php echo $filterCode; ?>',
                                                   '<?php echo strtolower(strip_tags($filterItem->getValue())); ?>',
                                                   '<?php echo $urlFinal ?>')" <?php echo in_array($filterItem->getValue(), $requestArray) ? 'checked="checked"' : '' ?>/>    
                            <label class="pointer" for="<?php
                            echo strtolower(strip_tags($filterItem->getLabel())
                                    . '_' . $filterItem->getValue())
                            ?>"><?php echo $filterItem->getLabel() ?></label>
                                   <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                                <span class="count"><?= /* @escapeNotVerified */ $filterItem->getCount() ?><span class="filter-count-label">
                                        <?php if ($filterItem->getCount() == 1): ?> <?= /* @escapeNotVerified */ __('item') ?><?php else: ?> <?= /* @escapeNotVerified */ __('items') ?><?php endif; ?></span></span>
                            <?php endif; ?>
                        </form>

                    <?php else: ?>
                        <form>
                            <?= /* @escapeNotVerified */ $filterItem->getLabel() ?>
                            <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                                <span class="count"><?= /* @escapeNotVerified */ $filterItem->getCount() ?><span class="filter-count-label">
                                        <?php if ($filterItem->getCount() == 1): ?><?= /* @escapeNotVerified */ __('item') ?><?php else: ?><?= /* @escapeNotVerified */ __('items') ?><?php endif; ?></span></span>
                            <?php endif; ?>
                        </form>
                    <?php endif; ?>
                </li>
            <?php endif; ?>
        <?php endforeach ?>                                       
    </ol>
    <div class="error" style="display: none;">Result Not Found</div>
</div>



<?php if ($noOfItem > $seeMore) { ?>
    <div class="seemore pointer filter_mofo_mob_hide mob_pop hideseemore" id="<?php echo $filterName ?>_seemorebtn" onclick="showHiddenFilter(this, '<?php echo $filterName ?>')">See More</div>
<?php } ?>



<div id="see_more_pop_id" class="<?php echo $filterName . "_seemorebtn" ?> center hideform filter_popup" style="display: none;">
    <div class="seemore-filter-head">
        <span class="filter-title-seemore"><?php echo $filterName ?></span>
        <?php if ($filterName != "Price") { ?>
            <span class="dismiss " id="<?php echo $filterName . "_close" ?>" onclick="closePopUp('<?php echo $filterName ?>')">&#10006</span>
        <?php } ?>
        <?php if ($searchBarOption == 1 && $filterName != "Price") { ?>
            <br>
            <div class="SearchBar">
                <input type="text" name="search" id="<?php echo $filterName ?>-seemorepopup" onkeyup="search(this, '<?php echo $filterName . "seemorepopup" ?>', '<?php echo $filterName . "seemorepopup" ?>')" placeholder="Search"/>
            </div>
            <hr>
        <?php } ?>
    </div>
    <div id="navigationForPopup" class="filterlist">
        <ol class="items <?php echo $filterName . '_popup' ?> popuplist" id="<?php echo $filterName . '_popupId' ?>">
            <?php ?>
            <?php foreach ($filterItems as $filterItem): ?>
                <?php
                $filterCode = $filterItem->getFilter()->getAttributeModel()->getAttributeCode();
                $filterName = preg_replace("/[^a-zA-Z0-9s]/", "", $filterItem->getName());
                ?>

                <?php if ($filterName != "Price") { ?>

                    <li class="item <?php echo $filterName . "seemorepopup" ?> listItem">
                        <?php if ($filterItem->getCount() > 0): { ?>
                                <?php
                                $queryString = substr($filterItem->getUrl(), strpos($filterItem->getUrl(), '?'));

                                if (!empty($name)) {
                                    $checked = '';
                                    if (in_array($filterItem->getLabel(), $name)) {
                                        $checked = "checked";
                                    }
                                }
                                ?>
                                <span class="check-box">
                                    <input type="checkbox"  
                                           name="<?php echo $filterItem->getLabel() ?>" class="select pointer" 
                                           id="<?php echo "seemore_" . $filterCode . "_" . strtolower(strip_tags($filterItem->getValue())) ?>"
                                           data-filter-url ="<?php echo $currentUrl . $queryString ?>" 
                                           onchange='appendFilterUrl(this, "<?php echo $filterItem->getValue() ?>", "<?php echo $filterCode ?>", "<?php echo $filterName ?>")' <?php
                                           if (!empty($name)) {
                                               echo $checked;
                                           }
                                           ?> />

                                    <label class="pointer" for="<?php echo "seemore_" . $filterCode . "_" . strtolower(strip_tags($filterItem->getValue())) ?>">  <?php echo $this->escapeHtml($filterItem->getLabel()) ?></label>
                                </span>
                            <?php } else: ?>
                            <form>
                                <?= /* @escapeNotVerified */ $filterItem->getLabel() ?>
                                <?php if ($this->helper('\Magento\Catalog\Helper\Data')->shouldDisplayProductCountOnLayer()): ?>
                                    <span class="count"><?= /* @escapeNotVerified */ $filterItem->getCount() ?><span class="filter-count-label">
                                            <?php if ($filterItem->getCount() == 1): ?><?= /* @escapeNotVerified */ __('item') ?><?php else: ?><?= /* @escapeNotVerified */ __('items') ?><?php endif; ?></span></span>
                                <?php endif; ?>
                            </form>
                        <?php endif; ?>
                    </li>
                <?php } ?>

            <?php endforeach ?>   
            <div class="showcount"></div>
        </ol>
        <?php if ($filterName != "Price") { ?>

            <div class="error_popup" style="display: none;">Result Not Found</div>
        </div>
        <div class="button">
            <span id="<?php echo $filterName . "_count" ?>" class="hide selected_popup">0 Selected  </span>
            <button <?php echo (strpos($url, $filterCode) == false) ? 'disabled = "disabled"' : "" ?> class="btn"  id="<?php echo $filterCode ?>" onclick="clearFilter(this.id)" data-filter-name = "<?php echo $filterName ?>">Clear All</button>
            <button class="apply"  id="<?php echo $filterName ?>" onclick="applyUrl(this.id, '<?php echo $filterCode ?>', '<?php echo $filterName ?>')">
                <span class="apply_popup">Apply Filter</span>
                <span class="hide done_popup">Done</span>
            </button>
        <?php } ?>
    </div>
</div>


