<?php
/**
 * Filters
 * Copyright (C) 2019  mofosys technologies
 * 
 * This file is part of Mofosys/Filters.
 * 
 */
?>

<?php
$url = $this->helper('Mofosys\Filters\Helper\Data')->getCurrentUrl();
$currentUrl = substr($url, 0, strpos($url, '?'));
$helper = $this->helper('Mofosys\Filters\Helper\Data');
$searchBarOption = $helper->getSearchBarOption();
$outOfStackOption = $helper->getOutOfStockOption();
?>

<?php if ($block->canShowBlock()): ?>
    <div class="block filter" id="show_filter_cat">
        <div class="block-title filter-title" id="filter_mob">
            <strong onclick="filter_low()"><?= /* @escapeNotVerified */ __('Filter') ?></strong>
        </div>
        <div class="block-content filter-content">
            <?= $block->getChildHtml('state') ?>
            <?php if ($block->getLayer()->getState()->getFilters()): ?>
                <div class="block-actions filter-actions">
                    <a href="<?= /* @escapeNotVerified */ $block->getClearUrl() ?>" class="action clear filter-clear"><span><?= /* @escapeNotVerified */ __('Clear All') ?></span></a>
                </div>
            <?php endif; ?>
            <?php $wrapOptions = false; ?>
            <?php foreach ($block->getFilters() as $filter): ?>
                <?php if (!$wrapOptions): ?>
                    <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?= /* @escapeNotVerified */ __('Shopping Options') ?></strong>
                    <dl class="filter-options" id="narrow-by-list">
                        <?php
                        $wrapOptions = true;
                    endif;
                    ?>
                    <?php if ($filter->getItemsCount()): ?>
                        <dt role="heading" aria-level="3" class="filter_mofo_head mofo_head" id="<?php echo $filter->getName() . '_filter_low' ?>" onclick="show_mob_div(this, '<?php echo $filter->getName() ?>')" ><?= $block->escapeHtml(__($filter->getName())) ?></dt>
                        <dd class="filter-options-content"><?= /* @escapeNotVerified */ $block->getChildBlock('renderer')->render($filter) ?></dd>
                    <?php endif; ?>
                <?php endforeach; ?>
                <?php if ($wrapOptions): ?>
                    <div class="apply_on_pop_btn">
                        <button class="hide apply_on_pop" id="apply_on_pop" type="button" onclick="applyUrlOnMob()">Apply</button>
                    </div>
                </dl>
            <?php endif; ?>                                        
        </div>
    </div>
<?php endif; ?>













<script type="text/javascript">
    var url = "<?php echo $url ?>";
    var currentUrl = "<?php echo $url; ?>";
    countOfSelectedFilter = 0;

    String.prototype.splice = function (idx, rem, str) {
        return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
    };
    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };

//show popup
    function showHiddenFilter(currentElem, name) {

        closeAllPopUp();
        var namepopup = name + "_seemorebtn";
        var list = name + "_popup";
        jQuery('.' + namepopup).show();
        jQuery(this).hide();
        sortUL("." + list);


//sort the list on popup
        function sortUL(selector) {
            var $ul = jQuery(selector);

            $ul.find('li').sort(function (a, b) {
                var upA = jQuery(a).text().toUpperCase();
                var upB = jQuery(b).text().toUpperCase();
                return (upA < upB) ? -1 : (upA > upB) ? 1 : 0;
            }).appendTo(selector);
        }



        var list = jQuery("." + list),
                origOrder = list.children();

            var i, checked = document.createDocumentFragment(),
                    unchecked = document.createDocumentFragment();
            for (i = 0; i < origOrder.length; i++) {
                if (typeof (origOrder[i].getElementsByTagName("input")[0]) != "undefined" && origOrder[i].getElementsByTagName("input")[0].checked) {
                    checked.appendChild(origOrder[i]);
                } else {
                    unchecked.appendChild(origOrder[i]);
                }
            }
            list.append(checked).append(unchecked);



    }


//close popup on X click
    function closePopUp(cat_name) {
        if (jQuery(window).width() < 992) {
            jQuery('div.hideseemore').attr("style", "display: none;");
            jQuery('.' + cat_name + '_seemorebtn').hide();
            jQuery('.filter_mofo_head').addClass("disabled");
            jQuery(".filter-options-content").attr("style", "display: none;");
            jQuery('#apply_on_pop').removeClass("hide");
        } else {
            jQuery('.' + cat_name + '_seemorebtn').hide();
            jQuery('#' + cat_name + '_seemorebtn').show();
        }
    }


//show only one popup at a time close all
    function closeAllPopUp() {
        jQuery(".filter_popup").attr("style", "display: none;");
    }




//applay filter on multi select
    function toggleFilterItemInUrl(event, filterCode, filterValue, changedUrl) {

        if (!event.target.checked) {
            var baseUrl = currentUrl;
            var indexOfFilterCode = baseUrl.lastIndexOf(filterCode);
            var indexOfFilerValue = baseUrl.indexOf(filterValue, indexOfFilterCode);
            var filterValueLength = filterValue.length;
            var beforeString = indexOfFilerValue - 1;
            var afterString = indexOfFilerValue + filterValueLength;
            var stringToReplace, newUrl;
            // Case 1
            if (baseUrl[beforeString] == '=' && baseUrl[afterString] == ',') {
                stringToReplace = baseUrl.substring(indexOfFilerValue, afterString + 1);
                newUrl = baseUrl.replace(stringToReplace, '');
            } else if (baseUrl[beforeString] == '=') {
                stringToReplace = baseUrl.substring(indexOfFilterCode, afterString + 1);
                newUrl = baseUrl.replace(stringToReplace, '');
            } else if (baseUrl[beforeString] == ',' && baseUrl[afterString] == ',') {
                stringToReplace = baseUrl.substring(indexOfFilerValue - 1, afterString);
                newUrl = baseUrl.replace(stringToReplace, '');
            } else {
                stringToReplace = baseUrl.substring(indexOfFilerValue - 1, afterString);
                newUrl = baseUrl.replace(stringToReplace, '');
            }
            window.location.assign(newUrl);
        } else {
            window.location.assign(changedUrl);
        }
    }




    // Append filter function
    function appendFilterUrl(elem, filterUrl, filterCode, filterName) {
        var filter_code = filterCode.toLowerCase();
        var checkbox = jQuery('.filterlist #' + filterName + '_popupId > li input:checkbox:checked');
        var startPosition = url.lastIndexOf(filterCode.toLowerCase());

        if (elem.checked) {
            if (!jQuery(elem).hasClass('checked-option')) {
                jQuery(elem).addClass('checked-option');
            }
            // Filter is checked
            if (url.includes(filterCode.toLowerCase())) {// first condition to check filter exist in the url or not
                if (!url.includes(filterUrl)) {
                    if (url.indexOf(filterCode.toLowerCase()) - 1 != ",") { //second condition to remove conflicts betwwen two filters of same string exist
                        var startPosition = url.lastIndexOf(filterCode.toLowerCase()); //getting position of the filter name in url
                        if (url.indexOf('&', startPosition) != -1) {// third condition to check whether any other filters are there in the url
                            url = url.splice(url.indexOf('&', startPosition), 0, "," + filterUrl);
                        } else {
                            // Special condition where attribute name exists in the url

                            if (!(url.includes('?'))) {
                                url = url + "?" + filterCode + "=" + filterUrl;
                            } else {
                                var indexOfParam = url.indexOf('?');
                                var subQuery = (url.substr(indexOfParam)).replaceAll('amp;', '');
                                if (subQuery.includes(filter_code)) {
                                    url = url + ',' + filterUrl;
                                } else {
                                    url = url + "&" + filterCode + "=" + filterUrl;
                                }
                            }
                        }
                    }
                }
            } else {
                if (url.includes('?')) {
                    url = url + "&" + filterCode + "=" + filterUrl;
                } else {
                    url = url + "?" + filterCode + "=" + filterUrl;
                }
            }
            jQuery('#' + filterCode).prop('disabled', false);
            countOfSelectedFilter++;
        } else {

            if (jQuery(elem).hasClass('checked-option')) {
                jQuery(elem).removeClass('checked-option');
            }

            // Filter is unchecked
            var prev = url.indexOf(filterUrl) - 1;
            var next = url.indexOf(filterUrl) + filterUrl.length;
            var prevCharcater = url.indexOf(filterCode) - 1;
            if (url[prev] == '=' && url[next] == null) {
                url = url.replace(url[prevCharcater] + filterCode + '=' + filterUrl, '');
            } else
            if (url[prev] == '=' && url[next] == ',') {
                url = url.replace(filterUrl + ',', '');
            } else
            if ((url[prev] == ',' && url[next] == '&') || (url[prev] == ',' && url[next] == null) || (url[prev] == ',' && url[next] == ',')) {
                url = url.replace(',' + filterUrl, '');
            }
            if (checkbox.size() < 1) {
                jQuery('#' + filterCode).prop('disabled', true);
            }
            countOfSelectedFilter--;
        }
        jQuery('#' + filterName + '_count').html(countOfSelectedFilter + " Selected");

        console.log(url);



    }

    function applyUrl(ele, filterCode, cat_name) {
        if (jQuery(window).width() < 992) {
            jQuery('.' + cat_name + '_seemorebtn').hide();
            jQuery('.filter_mofo_head').addClass("disabled");
            jQuery(".filter-options-content").attr("style", "display: none;");
            jQuery('#apply_on_pop').removeClass("hide");
            url = url.replaceAll('amp;', '');
        } else {

            url = url.replaceAll('amp;', '');
            if (history.pushState) {
                window.location.href = url;
//                window.history.pushState("object or string", "Title", url);
            } else {
                window.location.assign(url);

            }

        }

    }

    function applyUrlOnMob() {
        url = url.replaceAll('amp;', '');
        window.location.assign(url);
    }


    function countOccurences(Url, elem) {
        var urlStringLength = Url.length;
        var count = 0;
        var splittedUrl = Url.split(/[.\-_/?&=]/);
        for (var i = 0; i <= splittedUrl.length; i++) {
            var element = elem;
            if (splittedUrl[i] == elem) {
                count++;
            }
        }
        return count;
    }


//clear checkbox with Url
    function clearFilter(ele) {
        var res = countOccurences(currentUrl, ele);
        var filterName = jQuery('#' + ele).attr('data-filter-name');
        var counterElem = filterName + '_count';
        document.getElementById(counterElem).innerHTML = "0 Selected";
        countOfSelectedFilter = 0;
        url = url.replaceAll('amp;', '');
        var lastIndexofFilterCodeInUrl = url.lastIndexOf(ele);
        //check if its part of query or first query
        var prevIndexOfFilter = url[lastIndexofFilterCodeInUrl - 1];
        // Is first filter
        if (prevIndexOfFilter == '?') {
            // Is not the last filter
            if (url.includes('&')) {
                var subStr = url.substring(lastIndexofFilterCodeInUrl, url.indexOf('&') + 1);
                url = url.replace(subStr, '');
            } else {
                var subStr = url.substring(lastIndexofFilterCodeInUrl - 1);
                url = url.replace(subStr, '');
            }
        } else {
            if (url.indexOf('&', lastIndexofFilterCodeInUrl) != -1) {
                var subStr = url.substring(lastIndexofFilterCodeInUrl - 1, url.indexOf('&', lastIndexofFilterCodeInUrl));
                url = url.replace(subStr, '');
            } else {
                var subStr = url.substring(lastIndexofFilterCodeInUrl - 1);
                url = url.replace(subStr, '');
            }
        }
        var checkbox = jQuery('.filterlist #' + filterName + '_popupId > li input:checkbox:checked');
        checkbox.each(function () {
            jQuery(this).prop('checked', false);
        });
    }


//search on filters
    function search(elem, filterCode, filterName) {
        var searchbox = jQuery(elem).val().toLowerCase();
        var seemoreId = filterName + '_seemorebtn';
        var value = jQuery(elem).val().toLowerCase();
        var str2 = "seemorepopup";
        jQuery("ol ." + filterName).show().filter(function () {
            return jQuery(this).text().toLowerCase().trim().indexOf(value) === -1;
        }).hide();
        if (jQuery('.' + filterName + ':visible').length === 0) {
            if (filterName.indexOf(str2) !== -1) {
                jQuery('.error_popup').show();
            } else {
                jQuery('.error').show();
            }

        } else {
            jQuery('.error').hide();
            jQuery('.error_popup').hide();
        }


        if (searchbox !== '') {
            jQuery('#' + seemoreId).hide();
        } else {
            jQuery('#' + seemoreId).show();
        }


    }

//To show 5 categories option open
    var coll = document.getElementsByClassName("filter_mofo_head");
    var i;
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("disabled");
            var content = this.nextElementSibling;
            if (content.style.display === "none") {
                content.style.display = "block";
            } else {
                content.style.display = "none";
            }
        });
    }

    for (i = 5; i < coll.length; i++) {
        coll[i].classList.add("disabled");
        coll[i].nextElementSibling.setAttribute("style", "display: none;");



    }


    function filter_low() {
        for (i = 0; i < coll.length; i++) {
            coll[i].classList.add("disabled");
            coll[i].nextElementSibling.setAttribute("style", "display: none;");
        }
        jQuery('#show_filter_cat').toggleClass('active');
        jQuery('body').toggleClass('filter-active');
        jQuery(".filter_mofo_mob_hide").attr("style", "display:none");
        jQuery('.filter_popup').removeClass("center");
        jQuery(".apply_popup").attr("style", "display:none");
        jQuery('.done_popup').removeClass("hide");
        jQuery('.selected_popup').removeClass("hide");
        jQuery('#apply_on_pop').removeClass("hide");
        jQuery('.filter-title-seemore').addClass("hide");



    }


    function show_mob_div(currentElem, name) {
        if (jQuery(window).width() < 992) {
            jQuery(".apply_on_pop").toggleClass('hide');

            closeAllPopUp();
            var namepopup = name + "_seemorebtn";
            var list = name + "_popup";
            jQuery('.' + namepopup).show();
            jQuery(this).hide();
            sortUL("." + list);


//sort the list on popup
            function sortUL(selector) {
                var $ul = jQuery(selector);
                $ul.find('li').sort(function (a, b) {
                    var upA = jQuery(a).text().toUpperCase();
                    var upB = jQuery(b).text().toUpperCase();
                    return (upA < upB) ? -1 : (upA > upB) ? 1 : 0;
                }).appendTo(selector);
            }
        }
    }
</script>













<style type="text/css">

    div.disabled{
        display: none;
    }


    .center {
        margin: auto;
        width:400px;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color:#FFFFFF;
        border:1px solid #999999;
        cursor:default;
        display:none;
        margin-top: -220px;
        position:absolute;
        text-align:left;
        z-index:50;
        padding: 25px 25px 20px;
        /*top:0;*/
    }

    .hideform {
        display: none;
    }

    .dismiss{
        float: right;
        font-size: 24px;
    }

    .apply{
        float:right;
    }

    .popuplist {
        display: flex;
        flex-flow: row wrap;
        /*        flex-direction:row;*/
        flex-wrap: wrap;


        list-style-type:none;
        white-space:nowrap;
        overflow-x:auto;


    }


    .listItem {

        flex: 1 0 50%;          


    }



    .hide{
        display: none;
    }


    .pointer {cursor: pointer;}

    .search{
        width: 100%;
        border-width: 0 0 2px;
        border-color: #e0e0e0;
        height: 20px;
        font-size: 14px;
        padding: 0 0 0 21px;
        outline: none;
    }

    .seemore{

        color: #2874f0;
    }



    .SearchBar input {
        width: 100%;
    }




    .mofo_head{
        cursor: pointer;
        font-weight: 600;
        margin: 0;
        overflow: hidden;
        padding: 10px 40px 0 10px;
        position: relative;
        text-transform: uppercase;
        word-break: break-all;
        z-index: 1;
        display: block;
        text-decoration: none;
    }


    .filter_mofo_head:after {
        position: absolute;
        right: 13px;
        top: 12px;
    }

    .filter_mofo_head:after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 13px;
        line-height: inherit;
        color: inherit;
        content: '\e622';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
    }

    .filter_mofo_head:after {
        content: '\e621';
    }

    .filter_mofo_head:after {
        position: absolute;
        right: 13px;
        top: 12px;
    }

    .disabled.filter_mofo_head:after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 13px;
        line-height: inherit;
        color: inherit;
        content: '\e622';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center;
    }

    .apply_on_pop{
        width:100%;
        font-weight:bold;
        border-radius: 64px;
        padding:10px;
    }
    .apply_on_pop_btn{
        position:fixed;
        bottom:20px;
        left:20%;
        width:60%;

    }

    @media screen and (max-width: 992px) {
        .hideseemore{
            display: none;
        }
    }
</style>




<!--<script>
    require(['jquery', 'jquery/ui'], function ($) {
        $(document).ready(function ($) {
            var list = $(".Style_popup"),
                    origOrder = list.children();
            list.on("click", ".Styleseemorepopup", function () {
                var i, checked = document.createDocumentFragment(),
                        unchecked = document.createDocumentFragment();
                for (i = 0; i < origOrder.length; i++) {
                    if (origOrder[i].getElementsByTagName("input")[0].checked) {
                        checked.appendChild(origOrder[i]);
                    } else {
                        unchecked.appendChild(origOrder[i]);
                    }
                }
                list.append(checked).append(unchecked);
            });
        });
    });


</script>-->